.account {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 80px;
	
	h1 {
		text-align: center;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	
	h4 {
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 25px;
	}
	
	.account-sidebar {
		padding-top: 30px;
	}
	
	.account-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		
		> li {
			margin-bottom: 10px;
		
			> a {
				color: #181818;
				font-size: 18px;
				font-weight: 600;
				line-height: 20px;
				display: inline-block;
			
				> span {
					position: relative;
					display: inline-block;
					padding: 5px 10px 5px 0;
					
					&::before,
					&::after {
						top: 50%;
						width: 0;
						height: 1px;
						content: '';
						margin-top: 2px;
						position: absolute;
						background: $color-purple;
					}
					
					&::before {
						left: 0;
					}
					
					&::after {
						right: 0;
						transition: width 500ms ease;
					}
				}
				
				&:hover {
				
					> span {
						
						&::before {
							width: 100%;
							transition: width 500ms ease;
						}
						
						&::after {
							width: 100%;
							background: transparent;
							transition: 0;
						}
					}
				}
			}
			
			&.active {
				
				> a {
					
					> span {
						
						&::before {
							width: 100%;
							transition: width 500ms ease;
						}
						
						&::after {
							width: 100%;
							background: transparent;
							transition: 0;
						}
					}
				}
			}
		}
	}
	
	.account-row {
		margin: 0 -15px;
		@include clearfix();
	
		.account-col-sm,
		.account-col-md,
		.account-col-md-4,
		.account-col-md-8 {
			float: left;
			width: 100%;
			padding: 0 15px;
			min-height: 1px;
		}
	}
	
	.account-divider {
		margin-bottom: 30px;
	}
	
	.address-table {
		color: #181818;
		font-size: 11px;
		line-height: 20px;
		text-transform: uppercase;
		
		> ul {
			width: 100%;
			padding: 10px;
			list-style: none;
			background: #f7f7f7;
			margin-bottom: 10px;
			
			&:first-child {
				display: none;
				background: #fff;
			}
			
			> li {
			
				&:nth-child(2) {
				
					span {
						margin-right: 10px;
						display: inline-block;
					}
				}
			}
		}
		
		.btn-text {
			padding: 3px 0;
			margin-right: 10px;
		}
	}
	
	.account-brand-list {
		@include clearfix();
		
		> li {
			padding: 5px 0;
			
			.filter-name {
				position: relative;
				padding-right: 5px;
				cursor: pointer;
				display: inline-block;
				text-transform: uppercase;
				
				&::before,
				&::after {
					top: 50%;
					width: 0;
					height: 1px;
					content: '';
					position: absolute;
					background: $color-purple;
				}
				
				&::before {
					left: 0;
				}
				
				&::after {
					right: 0;
					transition: width 500ms ease;
				}
				
				&:hover {
					
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
			
			.filter-list {
				margin: 0;
				display: none;
				padding: 5px 0;
				
				> li {
					padding: 3px 0;
				}
			}
			
			&.open {
				
				.filter-name {
					
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
		}
		
		.icr-label {
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			padding-left: 30px;
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			cursor: pointer;
			
			
			&:before {
				left: 0;
				top: 50%;
				content: '';
				width: 10px;
				height: 10px;
				margin-top: -5px;
				position: absolute;
				border: 1px solid #cacaca;
			}
			
			&:after {
				top: 50%;
				left: 3px;
				width: 4px;
				height: 4px;
				content: '';
				display: none;
				margin-top: -2px;
				position: absolute;
				background: #9a40a1;
			}
			
			&.checked {
				color: #9a40a1;
				
				&:before {
					display: none;
				}
				
				&:after {
					display: inline-block;
				}
			}
			
			.icr-hidden {
				display: none !important;
			}
			
			@media (min-width: $screen-sm-min) {
				font-size: 16px;
				line-height: 24px;
				padding-left: 40px;
				
				&:before {
					left: 0;
					width: 24px;
					height: 24px;
					margin-top: -12px;
				}
				
				&:after {
					left: 8px;
					width: 12px;
					height: 12px;
					display: none;
					margin-top: -6px;
				}
			}
			
			@media (min-width: $screen-md-min) {
				font-size: 11px;
				line-height: 15px;
				padding-left: 30px;
				
				&:before {
					left: 0;
					width: 10px;
					height: 10px;
					margin-top: -5px;
				}
				
				&:after {
					left: 3px;
					width: 4px;
					height: 4px;
					display: none;
					margin-top: -2px;
				}
			}
		}
	}
	
	.scrollbar-inner {
		height: 270px;
		max-height: 270px;
		
		&:before {
			left: 0;
			right: 3px;
			z-index: 10;
			bottom: 0;
			content: '';
			height: 40px;
			position: absolute;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+7,ffffff+100&0+5,1+100 */
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 5%, rgba(255,255,255,0.02) 7%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 5%,rgba(255,255,255,0.02) 7%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0) 5%,rgba(255,255,255,0.02) 7%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
		
		.scroll-content {
			padding-right: 10px;
		}
	}
	
	.mySize {
		padding: 0;
		list-style: none;
		margin: 0 -5px 40px -5px;
		@include clearfix();
		
		li {
			float: left;
			width: 50%;
			padding: 0 5px;
			margin-bottom: 10px;
		}
		
		.size-selected {
			width: 100%;
			color: #aaa;
			font-size: 11px;
			font-weight: 600;
			line-height: 20px;
			display: inline-block;
			position: relative;
			cursor: default;
			padding: 4px 25px 4px 10px;
			text-transform: uppercase;
			border: 1px solid #dfdfdf;
			@include border-radius(4px);
			
			b {
				color: #181818;
				font-weight: 600;
				padding-left: 10px;
			}
			
			.size-delete {
				top: 7px;
				right: 9px;
				width: 10px;
				height: 10px;
				cursor: pointer;
				position: absolute;
				
				&:before,
				&:after {
					position: absolute;
					left: 4px;
					content: ' ';
					height: 14px;
					width: 1px;
					background-color: #181818;
				}
				
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}
		
	}
	
	@media (min-width: $screen-sm-min) {
		
		.account-row {
			
			.account-col-md-4 {
				width: 50%;
			}
			
			.account-col-md-8 {
				width: 50%;
			}
		}
		
		.address-table {
			
			> ul {
				padding: 0;
				display: table;
				
				&:first-child {
					display: table;
				}
				
				> li {
					padding: 15px 20px;
					display: table-cell;
					vertical-align: top;
					
					&:nth-child(1) {
						width: 320px;
					}
					
					&:nth-child(2) {
						width: 150px;
					}
					
					&:nth-child(3) {
						text-align: right;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 30px;
		padding-bottom: 140px;
		
		.account-sidebar {
			float: left;
			width: 240px;
			padding-top: 0;
		}
		
		.account-content {
			float: right;
			width: 700px;
		}
		
		.account-row {
			
			.account-col-sm {
				width: 33.33%;
			}
			
			.account-col-md {
				width: 66.66%;
			}
		}
		
		.account-divider {
			margin-bottom: 50px;
		}
		
		.address-table {
	
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.account-sidebar {
			width: 300px;
		}
		
		.account-content {
			width: 900px;
		}
		
		.account-row {
			margin: 0 -25px;
			
			.account-col-sm {
				padding: 0 25px;
			}
			
			.account-col-md {
				padding: 0 25px;
			}
			
			.account-col-md-4 {
				width: 33.33%;
			}
			
			.account-col-md-8 {
				width: 66.66%;
			}
		}
		
		.address-table {
			
			> ul {
				
				> li {
					
					&:nth-child(1) {
						width: 380px;
					}
					
					&:nth-child(2) {
						width: 260px;
					}
				}
			}
		}
		
		.account-brand-list {
		
			> li {
				width: 50%;
				float: left;
				padding-right: 20px;
			}
		}
	}
}
