* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 20px;
	font-family: $font-head;

	@media (min-width: $screen-sm-min) {
		font-size: 40px;
		line-height: 1;
		margin-bottom: 25px;
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 32px;
	}
}

h2 {
	font-size: 28px;
	line-height: 1;
	margin-bottom: 20px;
	font-family: "TT Moons", Arial, sans-serif;
	
	@media (min-width: $screen-xs-min) {
		font-size: 36px;
	}
	
	@media (min-width: $screen-sm-min) {
		font-size: 45px;
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 32px;
	}
}



p {
	padding: 0;
	margin: 0 0 20px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.text-uppercase {
	text-transform: uppercase;
}


svg {
	width: 100%;
	height: 100%;
}

svg:not(:root) {
	overflow: hidden;
}