.content-basket {
	min-height: 1px;
	
	@media (min-width: $screen-md-min) {
		float: left;
		width: 610px;
	}
	
	@media (min-width: $screen-lg-min) {
		width: 830px;
	}
}

.content-checkout {
	min-height: 1px;
	
	@media (min-width: $screen-md-min) {
		float: left;
		width: 600px;
	}
	
	@media (min-width: $screen-lg-min) {
		width: 760px;
	}
}

.aside {
	min-height: 1px;
	
	@media (min-width: $screen-md-min) {
		float: right;
		width: 300px;
	}
}


.switch-nav {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;
	margin: 0 0 30px 0;
	
	li {
		display: inline-block;
		
		a {
			color: #a7a7a7;
			font-size: 28px;
			line-height: 30px;
			font-family: $font-head;
			display: inline-block;
			text-decoration: none;
			
			span {
				position: relative;
				display: inline-block;
				
				&::before,
				&::after {
					top: 50%;
					width: 0;
					height: 1px;
					content: '';
					margin-left: 5px;
					position: absolute;
					background: $color-purple;
				}
				
				&::before {
					left: 0;
				}
				
				&::after {
					right: 0;
					transition: width 500ms ease;
				}
			}
			
			
			&:hover {
				
				span {
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
		}
		
		&.active {
			
			a {
				color: #181818;
				
				span {
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
		}
		
		&:first-child {
			padding-right: 20px;
		}
		
		&:last-child {
			padding-left: 20px;
			border-left: 1px solid #dfdfdf;
		}
	}
	
	@media (min-width: $screen-xs-min) {
		
		li {
			
			&:first-child {
				padding-right: 40px;
			}
			
			&:last-child {
				padding-left: 40px;
			}
			
			a {
				font-size: 40px;
				line-height: 40px;
				
				span {
					
					&::before,
					&::after {
						margin-left: 10px;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		li {
			
			&:first-child {
				padding-right: 50px;
			}
			
			&:last-child {
				padding-left: 50px;
			}
		}
	}
	
}

.mobile-button {
	margin-bottom: 30px;
	
	.btn {
		width: 100%;
	}
	
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.basket-row {
	padding: 0;
	margin: 0 -15px 30px -15px;
	list-style: none;
	border-top: 1px solid #c9c9c9;

	> li {
		position: relative;
		padding: 25px 25px 10px 25px;
		border-bottom: 1px solid #c9c9c9;
		
		&:last-child {
			border-bottom: none;
		}
		
		.basket-item-close {
			top: 15px;
			right: 20px;
			width: 15px;
			height: 15px;
			cursor: pointer;
			position: absolute;
			display: inline-block;
		}
		
		&.basket-row-heading {
			display: none;
			border-bottom: none;
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		margin: 0 0 30px 0;
		border-top: none;
	
		> li {
			padding: 25px 20px 20px 0;
			
			.basket-item-close {
				top: 25px;
				right: 0;
			}
			
			&.basket-row-heading {
				display: block;
				padding: 0 20px 0 0;
				
				.basket-image {
					font-size: 10px;
					line-height: 10px;
				}
				
				.basket-content {
					font-size: 10px;
					line-height: 10px;
				}
				
				.basket-heading-text {
					color: #aaa9a9;
					font-size: 10px;
					font-weight: 600;
					line-height: 10px;
					text-transform: uppercase;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		> li {
			padding-right: 40px;
		}
	}
}

.basket {
	margin: 0;
	padding: 0;
	list-style: none;
	@include clearfix();
	
	.basket-image {
		width: 70px;
		float: left;
		min-height: 1px;
		margin-left: 0;
	}
	
	.basket-content {
		padding: 0;
		min-height: 1px;
		font-size: 12px;
		font-weight: 600;
		line-height: 20px;
		list-style: none;
		margin: 0 0 0 85px;
		@include clearfix();
		text-transform: uppercase;
		
		> li {
			float: left;
			width: 100%;
			
			&.basket-name {
				margin-bottom: 10px;
			}
			
			&.basket-size {
				width: auto;
				margin-bottom: 10px;
				display: inline-block;
			}
			
			&.basket-color {
				width: auto;
				float: right;
				text-align: right;
				margin-bottom: 10px;
				display: inline-block;
			}
			
			&.basket-number {
				position: relative;
				margin-bottom: 10px;
			}
			
			&.basket-price {
			}
		}
	}
	
	.basket-row-title {
		color: #aaa9a9;
		padding-right: 15px;
		display: inline-block;
	}
	
	.basket-brand {
		color: #292929;
		margin-bottom: 5px;
	}
	
	.basket-product {
		color: #9e9e9e;
	}
	
	.basket-like {
		z-index: 50;
		right: 15px;
		bottom: 65px;
		display: inline-block;
		position: absolute;
		
		.like {
			position: relative;
		}
		
		.basket-like-text {
			display: none;
		}
	}
	
	.basket-text {
		color: #292929;
		display: inline-block;
	}
	
	.basket-price-value {
		font-size: 14px;
		line-height: 18px;
		display: inline-block;
		margin-bottom: 10px;
	}
	
	.basket-price-text {
		color: #aaa9a9;
		min-height: 40px;
	}
	
	@media (min-width: $screen-xs-min) {
		
		.basket-image {
			width: 100px;
		}
		
		.basket-content {
			margin-left: 130px;
			
			> li {
				
				&.basket-size {
					margin-right: 40px;
				}
				
				&.basket-color {
					float: left;
				}
			}
		}
		
		.basket-row-title {
			padding-right: 20px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.basket-image {
			width: 70px;
			padding-right: 20px;
		}
		
		.basket-content {
			width: 520px;
			float: left;
			display: table;
			font-size: 11px;
			margin-left: 0;
		
			> li {
				float: none;
				width: auto;
				display: table-cell;
				vertical-align: top;
				
				&.basket-name {
					width: 165px;
					margin-bottom: 0;
				}
				
				&.basket-size {
					width: 60px;
					margin-bottom: 0;
					display: table-cell;
				}
				
				&.basket-color {
					width: 70px;
					float: none;
					margin-bottom: 0;
					text-align: left;
					display: table-cell;
				}
				
				&.basket-number {
					width: 100px;
					margin-bottom: 0;
				}
				
				&.basket-price {
					width: 125px;
				}
			}
		}
		
		.basket-row-title {
			display: none;
		}
		
		.basket-brand {
			margin-bottom: 0;
		}
		
		.basket-like {
			right: auto;
			bottom: auto;
			margin-top: 5px;
			position: relative;
		}
		
		.basket-price-value {
			margin-bottom: 5px;
		}
		
		.basket-price-text {
			font-size: 10px;
			line-height: 15px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.basket-image {
			width: 120px;
			padding-right: 40px;
			
			a {
				display: block;
				margin-left: 20px;
			}
		}
		
		.basket-content {
			width: 670px;
			
			> li {
				
				&.basket-name {
					width: 260px;
					padding-right: 40px;
				}
				
				&.basket-size {
					width: 90px;
				}
				
				&.basket-color {
					width: 90px;
				}
				
				&.basket-number {
					width: 110px;
				
				}
				
				&.basket-price {
					width: 120px;
				}
			}
		}
		
		.basket-like {
			margin-top: 15px;
			padding-left: 30px;
			
			.like {
				top: 2px;
				left: 0;
				position: absolute;
			}
			
			.basket-like-text {
				line-height: 20px;
				display: inline-block;
			}
		}
	}
}

.input-number {
	width: 75px;
	height: 20px;
	padding: 0 22px;
	position: relative;
	display: inline-block;
	
	.minus {
		left: 0;
		top: 2px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		position: absolute;
		
		&:before {
			left: 0;
			top: 7px;
			content: '';
			width: 15px;
			height: 1px;
			background: #000;
			position: absolute;
		}
	}
	
	.plus {
		right: 0;
		top: 2px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		position: absolute;
		
		&:before {
			left: 0;
			top: 7px;
			z-index: 10;
			content: '';
			width: 15px;
			height: 1px;
			background: #000;
			position: absolute;
		}
		
		&:after {
			top: 0;
			left: 7px;
			width: 1px;
			z-index: 10;
			content: '';
			height: 15px;
			background: #000;
			position: absolute;
		}
	}
	
	input {
		width: 30px;
		height: 20px;
		outline: none;
		padding: 2px 0;
		color: #292929;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		background: #fff;
		display: inline-block;
		border: 1px solid #c9c9c9;
	}
}

.side-action {
	display: none;
	text-align: right;
	margin-bottom: 25px;
	
	a {
		color: #292929;
		font-size: 10px;
		font-weight: 600;
		line-height: 20px;
		margin-left: 30px;
		position: relative;
		padding-left: 26px;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		
		i {
			left: 0;
			position: absolute;
			display: inline-block;
		}
		
		&.action-print {
		
			i {
				top: 2px;
				width: 16px;
				height: 15px;

			}
		}
		
		&.action-send {
			
			i {
				width: 15px;
				height: 10px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		display: block;
	}
}


.side-title {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 10px;
}

.side-box {
	padding: 25px 20px;
	margin-bottom: 10px;
	
	.form-group {
		margin-bottom: 20px;
	}
	
	.form-line {
		margin: 0;
		width: 100%;
		border: none;
		outline: none;
		color: #292929;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		padding: 0 0 10px 0;
		display: inline-block;
		background: transparent;
		text-transform: uppercase;
		border-bottom: 1px solid #dfdfdf;
		@include placeholder(#292929);
		
		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}
		
		&:focus {
			color: #292929;
			@include placeholder(transparent);
		}
	}
	
	.info-text {
		font-size: 13px;
		line-height: 15px;
	}
	
	.btn {
		width: 100%;
	}
	
	.side-title {
		margin-bottom: 20px;
	}
	
	h4 {
		font-size: 11px;
		font-weight: 600;
		line-height: 15px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	
	p {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 0;
	}
}

.gray-box {
	background: #f7f7f7;
}

.box-summary {
	margin-bottom: 15px;
	@include clearfix();
	text-transform: uppercase;
	
	.box-summary-legend {
		float: left;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
	}
	
	.box-summary-value {
		float: right;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		
		strong {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.checkout-header {
	text-align: center;
	margin-bottom: 25px;
	background: #f7f7f7;
	padding: 30px 15px 35px 15px;

	h1 {
		margin-bottom: 10px;
	}
	
	p {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 0;
	}
	
	@media (min-width: $screen-sm-min) {
		
		h1 {
			font-size: 40px;
			line-height: 1;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		h1 {
			font-size: 40px;
			line-height: 1;
		}
	}
}

.checkout-step {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: left;
	margin: 0 -15px 30px -15px;
	
	li {
		padding: 0 10px;
		margin-bottom: 20px;
		display: inline-block;
		position: relative;
		
		&:after {
			bottom: 0;
			right: -5px;
			color: #b9b9b9;
			font-size: 12px;
			line-height: 18px;
			content: '\f054';
			position: absolute;
			font-family: FontAwesome;
		}
		
		&:last-child {
			
			&:after {
				display: none;
			}
		}
		
		a {
			color: #a7a7a7;
			font-size: 20px;
			line-height: 1;
			display: inline-block;
			font-family: $font-head;
			
			span {
				padding: 0 5px;
				position: relative;
				display: inline-block;
				
				&::before,
				&::after {
					top: 50%;
					width: 0;
					height: 1px;
					content: '';
					position: absolute;
					background: $color-purple;
				}
				
				&::before {
					left: 0;
				}
				
				&::after {
					right: 0;
					transition: width 500ms ease;
				}
			}
			
			&:hover {
			
			}
		}
		
		&.active {
			
			&:after {
				color: #181818;
				display: inline-block;
			}
			
			a {
				color: #181818;
				
				span {
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		text-align: center;
		
		li {
			padding: 0 20px;
			margin-bottom: 0;
			
			a {
				font-size: 24px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
	
		li {
			padding: 0 30px;
			
			a {
				
				span {
					padding: 0 25px;
				}
			}
		}
	}
}

.checkout-title {
	color: #181818;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 25px;
}

.checkout-button {
	padding-top: 30px;
	
	.btn {
		width: 100%;
	}
	
	@media (min-width: $screen-md-min) {
		text-align: right;
		padding-top: 125px;
		
		.btn {
			width: 210px;
		}
	}
}

.side-order {
	padding: 0;
	list-style: none;
	margin: 0 0 10px 0;
	
	> li {
		padding: 5px 0;
		width: 100%;
		display: table;
		border-bottom: 1px solid #dfdfdf;
		
		&:last-child {
			border-bottom: none;
		}
		
		.side-order-image {
			width: 90px;
			padding-right: 30px;
			display: table-cell;
			vertical-align: top;
		}
		
		.side-order-text {
			font-size: 11px;
			font-weight: 600;
			line-height: 20px;
			padding-top: 10px;
			display: table-cell;
			text-transform: uppercase;
			
			.side-order-brand {
				color: #292929;
			}
			
			.side-order-product {
				color: #9e9e9e;
				margin-bottom: 15px;
			}
			
			.side-order-params {
				margin: 0;
				padding: 0;
				list-style: none;
				@include clearfix();
				
				> li {
					float: left;
					margin-right: 25px;
					
					&:last-child {
						float: right;
						margin-right: 0;
						font-size: 14px;
						font-weight: 400;
						
						span {
							font-weight: 600;
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}

.side-summary {
	width: 100%;
	font-size: 11px;
	font-weight: 600;
	line-height: 20px;
	margin-top: 15px;
	text-align: right;
	text-transform: uppercase;
	
	td {
		padding: 5px 0;
		
		&:last-child {
			width: 100px;
			font-size: 14px;
			font-weight: 400;
			
			
			span {
				font-size: 16px;
				font-weight: 600;
			}
		}
		
		span {
			font-size: 16px;
		}
	}
	
	
}

.form-check {
	padding: 25px 0;
	margin-top: 25px;
	border-top: 1px solid #dfdfdf;
	
	label {
		color: #181818;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		padding-left: 25px;
		position: relative;
		text-transform: uppercase;
		
		&:before {
			left: 0;
			top: 5px;
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			border: 1px solid #b5b4b5;
		}
		
		.icr-hidden {
			display: none;
		}
		
		&.checked {
			
			&:after {
				top: 8px;
				left: 3px;
				content: '';
				width: 4px;
				height: 4px;
				position: absolute;
				background: #9a40a1;
			}
		}
	}
}

.checkout-setting {
	padding: 0;
	list-style: none;
	margin: 0 0 10px 0;

	> li {
		position: relative;
		padding: 25px 0 30px 40px;
		border-bottom: 1px solid #dfdfdf;
		
		&:last-child {
			border-bottom: none;
		}
	}
	
	label {
		color: #181818;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		padding-left: 40px;
		margin-left: -40px;
		margin-bottom: 10px;
		position: relative;
		
		&:before {
			left: 0;
			top: 1px;
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			border: 1px solid #cbcbcb;
			@include border-radius(50%);
		}
		
		.icr-hidden {
			display: none;
		}
		
		&.checked {
			
			&:after {
				top: 5px;
				left: 4px;
				content: '';
				width: 10px;
				height: 10px;
				position: absolute;
				background: #181818;
				@include border-radius(50%);
			}
		}
	}
	
	.delivery-info {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		@include clearfix();
		
		> li {
			width: auto;
			float: left;
			font-size: 13px;
			line-height: 15px;
			padding-right: 40px;
			
			&:first-child {
				width: 100%;
				margin-bottom: 15px;
			}
			
			p {
				margin-bottom: 10px;
			}
			
			a {
				color: #292929;
				font-weight: 400;
				text-transform: uppercase;
				text-decoration: underline;
			}
		}
	}
	
	.payment {
		padding-top: 25px;
		margin-bottom: 0;
	}
	
	@media (min-width: $screen-md-min) {
		
		.delivery-info {
			display: table;
			
			> li {
				float: none;
				padding-right: 0;
				display: table-cell;
				vertical-align: top;
				
				&:first-child {
					width: 380px;
					margin-bottom: 0;
					padding-right: 50px;
			
				}
				
				&:last-child {
					text-align: right;
				}
			}
		}
		
		.payment {
			top: 30px;
			right: 0;
			padding-top: 0;
			position: absolute;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.delivery-info {
		
			> li {
			
				&:first-child {
					width: 490px;
					padding-right: 150px;
				}
			}
		}
	}
}

.button-block {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -10px;
	list-style: none;
	text-align: right;
	
	> li {
		padding: 0 10px;
		margin-bottom: 20px;
		display: inline-block;
		
		.btn {
			width: 210px;
		}
	}
}

.checkout-summary {
	padding: 0;
	list-style: none;
	margin: 0 -15px 40px -15px;
	@include clearfix();
	
	> li {
		float: left;
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
	}
	
	h4 {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 10px;
	}
	
	.checkout-summary-detail {
		padding: 0;
		list-style: none;
		margin: 0 0 15px 0;
		
		> li {
			font-size: 13px;
			line-height: 20px;
		}
	}
	
	.checkout-change {
		color: #c3c3c3;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}
	
	@media (min-width: $screen-sm-min) {
	
		> li {
			width: 50%;
			
			&:first-child {
				width: 100%;
			}
		}
	
	}
	
	@media (min-width: $screen-md-min) {
		
		> li {
			width: 33.33%;
			margin-bottom: 0;
			
			&:first-child {
				width: 33.33%;
			}
		}
	}
}

.checkout-user {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #dfdfdf;
}

.order {
	padding: 0;
	list-style: none;
	margin: 0 0 40px 0;
	
	> li {
		padding: 20px 0;
		@include clearfix();
		border-bottom: 1px solid #dfdfdf;
		
		&:last-child {
			border-bottom: none;
		}
	}

	.order-image {
		width: 70px;
		float: left;
		min-height: 1px;
		margin-left: 0;
	}
	
	.order-text {
		padding: 0;
		margin: 0 0 0 85px;
		@include clearfix();
		list-style: none;
		color: #292929;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
		
		> li {
			float: left;
		}
		
		.order-product {
			width: 100%;
			
			.order-name {
				color: #9e9e9e;
			}
		}
		
		.order-size {
			width: 25%;
		}
		
		.order-value {
			width: 25%;
			text-align: center;
		}
		
		.order-price {
			width: 50%;
			font-size: 14px;
			text-align: right;
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		
		.order-image {
			width: 120px;
			padding-right: 50px;
		}
		
		.order-text {
			float: left;
			width: 480px;
			margin-left: 0;
			display: table;
			
			> li {
				float: none;
				padding-top: 15px;
				display: table-cell;
				vertical-align: top;
			}
			
			.order-product {
				width: auto;
			}
			
			.order-size {
				width: 100px;
			}
			
			.order-value {
				width: 40px;
				text-align: left;
			}
			
			.order-price {
				width: 100px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.order-text {
			width: 640px;
			
			.order-size {
				width: 120px;
			}
			
			.order-value {
				width: 130px;
			}
		}
	}
}


