.slider {
	margin-bottom: 25px;
	
	.slider-source {
		margin: 0 -15px;
	}
	
	
	.slider-item {
		color: #fff;
		border: none;
		outline: none;
		min-height: 440px;
		text-align: center;
		position: relative;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		padding: 50px 40px 120px 40px;
		
		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			background: rgba(0, 0, 0, 0.22);
		}
		
		&.slider-item-01 {
			background-image: url("../img/slide_01.jpg");
			background-position: 20% 50%;
			background-size: cover
		}
		
		&.slider-item-02 {
			background-image: url("../img/slide_03.jpg");
			background-size: cover
		}
		
		&.slider-item-03 {
			background-image: url("../img/slide_02.jpg");
			background-size: cover
		}
		
		.slider-item-content {
			z-index: 10;
			position: relative;
			
		}
	}
	
	.slider-heading {
		font-size: 40px;
		line-height: 1.1;
		margin-bottom: 40px;
		text-transform: uppercase;
		font-family: $font-head;
	}
	
	.slick-dots {
		left: 0;
		right: 0;
		bottom: 10%;
		position: absolute;
		
		li {
			
			button {
				border: 2px solid #fff;
			}
			
			&.slick-active {
				
				button {
					border-color: #fff;
					background-color: #fff;
				}
			}
		}
	}
	
	
	.slide-nav {
		
		svg {
			fill: #fff;
			color: #fff;
		}
		
		&:hover {
			
			svg {
				fill: #000;
				color: #000;
			}
		}
		
		&.prev {
			left: 20px;
		}
		
		&.next {
			right: 20px;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		.slider-source {
			margin: 0;
		}
		
		.slider-item {
			height: 1160px;
			padding-top: 175px;
			background-position: 50% 40%;
		}
		
		.slider-heading {
			font-size: 100px;
			margin-bottom: 140px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.slider-item {
			height: 315px;
			padding: 80px 60px 40px 60px;
			background-position: 50% 40%;
			
			&.slider-item-01 {
				background-position: 50% 40%;
			}
		}
		
		.slider-heading {
			font-size: 40px;
			margin-bottom: 30px;
		}
		
	}
	
	@media (min-width: $screen-lg-min) {
		
		
		.slider-item {
			height: 450px;
			padding: 150px 60px 40px 60px;
		}
		
		.slider-heading {
			margin-bottom: 40px;
		}
	}
}

.promo {
	padding-bottom: 30px;
	
	.tiles {
		@include clearfix();
	
		.tile-item {
			color: #fff;
			text-align: center;
			position: relative;
			border-bottom: 1px solid #fff;
			
			.tile-wrap {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				position: absolute;
				background: rgba(0,0,0, 0.5);
			}
			
			.outer {
				width: 100%;
				height: 100%;
				display: table;
				position: relative;
				
				.inner {
					width: 100%;
					height: 100%;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
	
	.promo-value {
		width: 50%;
		max-width: 430px;
		margin-bottom: 10px;
		display: inline-block;
		
		img {
			@include img-responsive(inline-block);
		}
	}
	
	.promo-heading {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 10px;
		font-family: $font-head;
		text-transform: uppercase;
	}
	
	@media (min-width: $screen-sm-min) {
		
		.promo-value {
			width: auto;
		}
		
		.promo-heading {
			font-size: 60px;
			line-height: 60px;
			margin-bottom: 20px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.tiles {
			margin-right: -1px;
			
			.tiles-col {
				width: 50%;
				float: left;
			}
			
			.tile-item {
				border-right: 1px solid #fff;
			}
		}
		
		.promo-value {
			max-width: 285px;
		}
		
		.promo-heading {
			font-size: 40px;
			line-height: 40px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.promo-heading {
			font-size: 60px;
			line-height: 60px;
		}
	}
}


// LOOK

.look-block {
	padding: 40px 0;
	background: #f6f6f6;

	h2 {
		margin-bottom: 20px;
	}
	
	@media (min-width: $screen-sm-min) {
		
		h2 {
			font-size: 50px;
			margin-bottom: 40px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		background: #fff;
		
		h2 {
			font-size: 32px;
			margin-bottom: 5px;
		}
	}
}

.look {
	position: relative;
	
	.look-item {
		border: none;
		outline: none;
		position: relative;
		@include clearfix();
	}
	
	.look-kit {
		position: relative;
		background: #f6f6f6;
	
		.look-kit-image {
			margin: 0 auto;
			max-width: 720px;
		}
		
		.look-kit-name {
			left: 0;
			bottom: 10px;
			color: #292929;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			position: absolute;
			text-transform: uppercase;
		}
		
		.btn {
			display: none;
		}
	}
	
	.selectric-wrapper {
		margin-bottom: 10px;
	}
	
	.look-object {
		display: none;
	}
	
	.look-object-hover-inner {
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 50;
		display: none;
		background: #fff;
		position: absolute;
		
		&.open {
			display: block;
		}
		
		.look-object-close {
			top: 15px;
			right: 15px;
			width: 20px;
			height: 20px;
			content: ' ';
			z-index: 50;
			cursor: pointer;
			position: absolute;
			background: url("../img/icon_close.png") 50% 50% no-repeat;
		}
	}
	
	.look-object-hover {
		width: 100%;
		padding: 15px 20px 30px 20px;

		.look-image {
			max-width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
		
		.look-object-title {
			font-size: 12px;
			font-weight: 600;
			line-height: 16px;
			text-align: center;
			text-transform: uppercase;
		}
		
		.look-object-type {
			color: #939393;
			font-size: 12px;
			font-weight: 600;
			line-height: 16px;
			text-align: center;
			text-transform: uppercase;
		}
		
		.look-object-price {
			font-size: 12px;
			font-weight: 600;
			line-height: 16px;
			text-align: center;
			margin-bottom: 15px;
		}
		
		.look-object-form {
			margin: 0 auto;
			max-width: 200px;
			position: relative;
			
			.btn-form {
				width: 170px;
			}
			
			.like {
				right: 0;
				bottom: 13px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		.look-kit {
			padding: 30px 30px 50px 30px;
			
			.look-kit-name {
				bottom: 60px;
				font-size: 18px;
			}
		}
		
		.look-object-hover-inner {
			width: 500px;
			left: 50%;
			right: auto;
			margin-left: -250px;
			
			.look-object-close {
				top: 30px;
				right: 30px;
				width: 30px;
				height: 30px;
			}
		}
		
		.look-object-hover {
			padding: 40px;
		
			.look-object-type,
			.look-object-price,
			.look-object-title {
				font-size: 22px;
				line-height: 30px;
			}
			
			.look-object-price {
				margin-bottom: 30px;
			}
			
			.look-object-form {
				max-width: inherit;
			
				.btn-form {
					width: 390px;
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.look-kit {
			width: 50%;
			float: left;
			height: 660px;
			overflow: hidden;
			
			.look-kit-image {
				margin-bottom: 35px;
			}
			
			.look-kit-name {
				top: 65px;
				left: 20px;
				bottom: auto;
				font-size: 11px;
				line-height: 15px;
			}
			
			.btn {
				display: inline-block;
			}
		}
		
		.look-row {
			width: 50%;
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			@include clearfix();
			
			> li {
				width: 50%;
				float: left;
				height: 330px;
				position: relative;
				border-right: 1px solid #e7e7e7;
				border-bottom: 1px solid #e7e7e7;
				
				&:nth-child(1) {
					border-top: 1px solid #e7e7e7;
				}
				
				&:nth-child(2) {
					border-top: 1px solid #e7e7e7;
				}
				
				&:hover {
					
					.look-object-hover-inner {
						display: block;
					}
				}
			}
		}
		
		.look-object {
			z-index: 10;
			height: 100%;
			cursor: pointer;
			display: block;
			padding: 30px 20px 20px 20px;
			position: relative;
			
			.look-image {
				margin: 0 -10px 15px -10px;
			}
			
			.look-object-title {
				font-size: 11px;
				font-weight: 600;
				line-height: 15px;
				text-align: center;
				text-transform: uppercase;
			}
			
			.look-object-price {
				font-size: 11px;
				font-weight: 600;
				line-height: 15px;
				text-align: center;
			}
		}
		
		.look-object-hover-inner {
			left: -1px;
			top: -1px;
			right: -1px;
			width: auto;
			margin-left: 0;
			
			.look-object-close {
				display: none;
			}
		}
		
		.look-object-hover {
			padding: 30px 20px 20px 20px;
			border: 1px solid #e7e7e7;
			
			.look-image {
				max-width: inherit;
				margin: 0 -10px 15px -10px;
			}
			
			.look-object-type,
			.look-object-price,
			.look-object-title {
				font-size: 11px;
				line-height: 16px;
				text-align: left;
			}
			
			.look-object-price {
				margin-bottom: 10px;
			}
			
			.look-object-form {
				max-width: inherit;
				
				.btn-form {
					width: 100%;
				}
			}
			
			.look-object-form {
				margin: 0 auto;
				max-width: inherit;
				position: relative;
				
				.btn-form {
					width: 100%;
				}
				
				.like {
					right: 0;
					bottom: 120px;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.look-kit {
			height: 720px;
			overflow: hidden;
			padding: 50px 30px 50px 30px;
			
			.look-kit-image {
				max-width: 400px;
				margin: 0 auto 30px auto;
			}
			
			.look-kit-name {
				left: 65px;
			}
		}
		
		.look-row {
		
			> li {
				height: 360px;
			}
		}
		
		.look-object {
			padding-left: 65px;
			padding-right: 65px;
			
			.look-image {
				max-width: inherit;
				margin: 0 -20px 15px -20px;
			}
		}
		
		.look-object-hover {
			padding-left: 65px;
			padding-right: 65px;
			
			.look-image {
				max-width: inherit;
				margin: 0 -20px 15px -20px;
			}
		}
		
		.btn {
			padding-left: 75px;
			padding-right: 75px;
		}
	}
}

// Consultation

.consultation-block {
	background: #fff;
	text-align: center;
	padding: 70px 0 30px 0;
	
	h2 {
		font-size: 40px;
		line-height: 1;
		margin-bottom: 10px;
		font-family: $font-head;
	}
	
	p {
		font-size: 14px;
		margin-bottom: 20px;
	}
	
	@media (min-width: $screen-sm-min) {
	
	}
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}

// News block

.new-block {
	padding-top: 30px;
	padding-bottom: 50px;
	
	h2 {
		margin-bottom: 10px;
	}
	
	.new-slide {
		position: relative;
		
		.new-slide-item {
			margin: 0;
			padding: 0;
			border: none;
			outline: none;
		}
		
		.slide-nav {
			top: 40%;
			margin-top: 0;
		}
	}
	
	.showcase-item {
		border: none;
	}
	
	@media (min-width: $screen-sm-min) {
		padding-bottom: 100px;
	}
	
	
	@media (min-width: $screen-md-min) {
	
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}


// Анонсы

.preview-block {

	.preview {
		margin: 0;
		padding: 0;
		color: #fff;
		list-style: none;
		
		> li {
			position: relative;
			margin-bottom: 20px;
		}
	}
	
	.preview-date {
		font-size: 14px;
		font-weight: 600;
		line-height: 16px;
		margin-bottom: 10px;
	}
	
	.preview-heading {
		font-size: 28px;
		line-height: 1;
		margin-bottom: 20px;
		font-family: $font-head;
		
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	
	.preview-box {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		text-align: left;
		padding: 20px 20px;
		position: absolute;
		
		.preview-heading {
			margin-bottom: 0;
		}
	}
	
	.preview-item {
		position: relative;
		margin-bottom: 20px;
		
		.preview-heading {
			font-size: 44px;
		}
	}
	
	.preview-items {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();
		
		> li {
			overflow: hidden;
			position: relative;
			margin-bottom: 20px;
			
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				z-index: 10;
				position: absolute;
				background: rgba(0,0,0, 0.5);
			}
		}
	}
	
	.preview-wrap {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		text-align: center;
		position: absolute;
		background: rgba(0,0,0, 0.5);
		
		.outer {
			width: 100%;
			height: 100%;
			display: table;
			position: relative;
			
			.inner {
				width: 100%;
				height: 100%;
				padding: 0 10px;
				display: table-cell;
				vertical-align: middle;
			}
		}
		
		.preview-heading {
		
		}
		
		p {
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			margin-bottom: 0;
		}
	}
	
	.preview-subscribe {
		color: #181818;
		text-align: center;
		overflow: hidden;
		position: relative;
		padding: 40px 20px;
		background: #f3f3f3;
		
		&:before {
			top: 30px;
			left: 50%;
			z-index: 5;
			content: '';
			width: 200px;
			height: 100px;
			margin-left: -100px;
			position: absolute;
			background: url("../img/skoro.png") 0 0 no-repeat;
			background-size: 100% 100%;
		}
		
		.preview-heading {
			font-size: 28px;
			line-height: 30px;
			margin-bottom: 5px;
		}
		
		.subscribe-text {
			z-index: 20;
			position: relative;
			
			p {
				margin-bottom: 15px;
			}
		}
		
		.preview-form {
			margin: 0;
			padding: 0;
			list-style: none;
			
			> li {
				&:first-child {
					margin-bottom: 25px;
				}
			}
		}
		
		.preview-input {
			margin: 0;
			border: none;
			width: 100%;
			color: #9f9f9f;
			outline: none;
			font-size: 16px;
			line-height: 20px;
			padding: 10px 10px;
			display: inline-block;
			text-align: center;
			background: transparent;
			text-transform: uppercase;
			border-bottom: 1px solid #858585;
			@include placeholder(#9f9f9f);
			
			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}
			
			&:focus {
				color: #181818;
				border-bottom-color: #cd9fd0;
				@include placeholder(transparent);
			}
		}
		
		.btn-border {
			width: 100%;
		}
	}
	
	@media (min-width: $screen-xs-min) {
		
		.preview-date {
			font-size: 22px;
			line-height: 22px;
		}
		
		.preview-heading {
			font-size: 40px;
		}
		
		.preview-item {
			
			.preview-date {
				margin-bottom: 20px;
			}
			
			.preview-heading {
				font-size: 70px;
			}
			
			p {
				font-size: 22px;
				line-height: 22px;
			}
		}
		
		.preview-subscribe {
			padding: 30px 30px 70px 30px;
			
			
			.preview-heading {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 20px;
				
				&:before {
					top: 40px;
					width: 100%;
					height: 120px;
					margin-left: -50%;
				}
			}
			
			p {
				font-size: 22px;
				line-height: 24px;
				margin-bottom: 50px;
			}
			
			.preview-input {
				font-size: 22px;
				line-height: 30px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
	

		.preview-item {
			
			.preview-date {
				margin-bottom: 40px;
			}
			
			.preview-heading {
				font-size: 90px;
				margin-bottom: 50px;
			}

		}
		
		.preview-items {
			margin-right: -1px;
			
			> li {
				width: 50%;
				float: left;
				margin-bottom: 1px;
				border-left: 1px solid #fff;
				
				&:first-child {
					width: 100%;
				}
			}
		}
		
		.preview-box {
			padding: 40px 30px;
		}
		
		.preview-subscribe {
			overflow: hidden;
			padding: 50px 80px 70px 80px;
			
			&:before {
				top: 40px;
				width: 100%;
				height: 146px;
				margin-left: -50%;
			}
			
			.preview-heading {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 20px;
			}
			
			p {
				font-size: 22px;
				line-height: 24px;
				margin-bottom: 50px;
			}
			
			.preview-input {
				font-size: 22px;
				line-height: 30px;
			}
		}
		
		.btn-border {
			padding: 30px 40px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.preview-date {
			font-size: 11px;
			line-height: 13px;
			margin-bottom: 10px;
		}
		
		.preview-heading {
			font-size: 28px;
			line-height: 30px;
			margin-right: -15px;
		}
		
		.preview-item {
			margin-bottom: 0;
			border-bottom: 1px solid #fff;
			
			.preview-date {
				margin-bottom: 10px;
			}
			
			.preview-heading {
				font-size: 50px;
				line-height: 50px;
				margin-bottom: 20px;
			}
			
			p {
				font-size: 14px;
				line-height: 20px;
			}
		}
		
		.preview-box {
			padding: 40px 20px;
		}
		
		.preview-items {
		
			.preview-img-inner {
				margin-right: -62%;
			}
		}
		
		.preview-subscribe {
			text-align: left;
			padding: 15px 20px 24px 30px;
			
			&:before {
				top: 20px;
				width: 412px;
				height: 90px;
				margin-left: -206px;
			}
			
			.preview-heading {
				font-size: 28px;
				line-height: 30px;
				margin-bottom: 20px;
			}
			
			p {
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 20px;
			}
			
			.preview-input {
				text-align: left;
				padding: 5px 0;
				font-size: 11px;
				line-height: 15px;
			}
			
			.preview-form {
				margin: 0;
				padding: 0;
				width: 100%;
				display: table;
				list-style: none;
				
				> li {
					display: table-cell;
					vertical-align: middle;
					
					&:first-child {
						padding-right: 10px;
						margin-bottom: 0;
					}
					
					&:last-child {
						width: 160px;
					}
				}
			}
		}
		
		.preview {
			margin-right: -1px;
			
			> li {
				width: 50%;
				float: left;
				margin-bottom: 0;
				border-right: 1px solid #fff;
			}

		}
		
		.btn-border {
			font-size: 11px;
			line-height: 18px;
			padding: 5px 15px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.preview-heading {
			font-size: 30px;
		}
		
		.preview-box {
			padding: 50px 20px;
		}
		
		.preview-items {
			
			.preview-img-inner {
				margin-right: -66%;
			}
		}
		
		.preview-subscribe {
			padding: 33px 40px 60px 60px;
			
			
			.preview-heading {
				margin-bottom: 15px;
			}
		}
	}
}

// Производители

.vendor-block {
	padding-top: 50px;
	padding-bottom: 30px;
	
	.vendors {
		padding: 0;
		text-align: center;
		list-style: none;
		margin: 0 -10px 20px -10px;
		@include clearfix();
		
		> li {
			width: 100%;
			float: left;
			display: none;
			padding: 10px 10px;
			text-align: center;
			
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				display: inline-block;
			}
			
			img {
				width: auto;
				height: 40px;
				max-height: 40px;
				display: inline-block;
			}
		}
		
		&.open {
		
			> li {
				display: inline-block;
			}
		}
	}
	
	.brand-view {
		margin:0;
		color: #181818;
		width: 100%;
		outline: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
		padding: 15px 10px;
		text-align: center;
		position: relative;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		background: transparent;
		text-transform: uppercase;
		touch-action: manipulation;
		border: 1px solid #181818;
		
		&:hover {
			color: #9a40a1;
			border-color: #9a40a1;
		}
		
		.open-text {
			display: inline;
		}
		
		.close-text {
			display: none;
		}
		
		&.open {
			
			.open-text {
				display: none;
			}
			
			.close-text {
				display: inline;
			}
		}
	}
	
	
	@media (min-width: $screen-xs-min) {
		
		.vendors {
			
			> li {
				width: 50%;
				padding: 30px 10px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		.vendors {
			
			> li {
				width: 50%;
				padding: 50px 10px;
				
				img {
					height: 50px;
					max-height: 50px;
				}
			}
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		
		.vendors {
			margin: 0 -15px 30px -15px;
			
			> li {
				width: 20%;
				float: left;
				padding: 0 15px;
				margin-bottom: 20px;
				border-right: 1px solid #dfdfdf;
				
				&:nth-child(5) {
					border-right-color: transparent;
				}
				
				&:nth-child(6) {
					display: none;
				}
				
				
				img {
					height: 40px;
					max-height: 40px;
				}
			}
			
			
			&.open {
				
				> li {
					display: block;
					
					&:nth-child(6) {
						display: block;
					}
				}
			}
		}
		
		.brand-view {
			width: auto;
			font-size: 11px;
			font-weight: 600;
			line-height: 18px;
			padding: 0 0 30px 0;
			position: relative;
			background: transparent;
			border: none;
			
			
			&:before {
				left: 50%;
				bottom: 10px;
				z-index: 10;
				height: 1px;
				width: 20px;
				content: '';
				background: #000;
				position: absolute;
				margin-left: -10px;
			}
			
			&:after {
				left: 50%;
				bottom: 0;
				width: 1px;
				content: '';
				z-index: 10;
				height: 21px;
				background: #000;
				position: absolute;
			}
			
			&:hover {
				color: #9a40a1;
				border-color: #9a40a1;
			}
			
			&.open {
				
				&:after {
					display: none;
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
	
		.vendors {
			
			> li {
			
			}
		}
	}
}


.advantage-block {
	padding-top: 50px;
	padding-bottom: 40px;
	
	h2 {
		margin-bottom: 40px;
	}
	
	.advantage {
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		@include clearfix();
		
		> li {
			width: 50%;
			float: left;
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;
			margin-bottom: 30px;
			padding: 60px 15px 0 15px;
			text-transform: uppercase;
			background: url("../img/icon_check.png") 15px 0 no-repeat;
		}
	}
	
	@media (min-width: $screen-xs-min) {
		
		.advantage {
		
			> li {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		h2 {
			margin-bottom: 60px;
		}
		
		.advantage {
		
			li {
				width: 50%;
				float: left;
				padding: 60px 25px 0 25px;
				margin-bottom: 70px;
				background-position: 25px 0;
			}
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		
		h2 {
			font-size: 28px;
			margin-bottom: 25px;
		}
		
		.advantage {
			
			li {
				width: 25%;
				float: left;
				font-size: 11px;
				line-height: 20px;
				margin-bottom: 70px;
				background-position: 20px 0;
				padding: 50px 20px 0 20px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}

.main {
	padding-top: 20px;
	padding-bottom: 60px;
	
	@media (min-width: $screen-sm-min) {
		padding-bottom: 120px;
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 30px;
		padding-bottom: 50px;
		
		&.main-cat {
			padding-top: 60px;
		}
	}
}

.row {
	@include clearfix();
	
	.sidebar {
		min-height: 1px;
	}
	
	.content {
		min-height: 1px;
	}
	
	@media (min-width: $screen-md-min) {
		
		.sidebar {
			float: left;
			width: 330px;
		}
		
		.content {
			float: left;
			width: 610px;
			
			.breadcrumbs {
				margin-top: -30px;
				margin-bottom: 15px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.sidebar {
			width: 320px;
		}
		
		.content {
			width: 880px;
		}
	}
}


// Brand

.brand {
	margin-bottom: 50px;
	@include clearfix();
	
	.brand-text {
		
		a {
			color: #181818;
			font-size: 11px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: underline;
			
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.brand-text {
			width: 50%;
			float: left;
			padding-right: 15px;
		}
		
		.brand-image {
			width: 50%;
			float: left;
			padding-left: 15px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.brand-text {
			width: 50%;
			padding-right: 40px;
		}
		
		.brand-image {
			width: 50%;
			padding-left: 20px;
		}
	}
}

.brand-heading {
	margin-bottom: 20px;
	
	h1 {
		margin-bottom: 0;
	}
	
	
	@media (min-width: $screen-md-min) {
		margin-bottom: 25px;
	}
}

.brand-search {

	margin-bottom: 40px;
	
	@media (min-width: $screen-md-min) {
		padding-right: 30%;
	}
	
	@media (min-width: $screen-lg-min) {

	}
}

.brand-row {
	margin: 0 -15px;
	
	.brand-col {
		padding: 0 15px;
	}
	
	@media (min-width: $screen-sm-min) {
		
		.brand-col {
			float: left;
			width: 50%;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.brand-col {
			width: 33.33%;
		}
	}
}

.brand-item {
	margin-bottom: 30px;
	
	.brand-letter {
		font-size: 24px;
		line-height: 30px;
		font-family: $font-head;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	
		> li {
			font-size: 13px;
			line-height: 20px;
			
			> a {
				color: #181818;
				text-decoration: none;
				
				&:hover {
					color: $color-purple;
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		margin-bottom: 40px;
	}
}


// 404

.error-content {
	text-align: center;
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 45px;
	
	&:before {
		left: 50%;
		bottom: 0;
		width: 40px;
		height: 1px;
		content: '';
		margin-left: -20px;
		position: absolute;
		background: #292929;
	}
	
	strong {
		font-size: 140px;
		line-height: 140px;
		font-family: $font-head;
	}
	
	span {
		display: block;
		font-size: 14px;
		line-height: 20px;
	}
	
	@media (min-width: $screen-sm-min) {
		
		strong {
			width: 200px;
			line-height: 200px;
		}
	}
}

.error-text {
	color: #181818;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.error-link {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;

	> li {
		padding: 0 5px;
		display: inline-block;
	}
}

// Thanks

.thanks-content {
	padding-top: 30px;
	position: relative;
	text-align: center;
	margin-bottom: 45px;
	padding-bottom: 40px;
	
	&:before {
		left: 50%;
		bottom: 0;
		width: 40px;
		height: 1px;
		content: '';
		margin-left: -20px;
		position: absolute;
		background: #292929;
	}
	
	h2 {
		line-height: 1;
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 10px;
		font-family: $font-head;
	}
	
	p {
		font-size: 14px;
		line-height: 20px;
	}
	
	@media (min-width: $screen-sm-min) {
		padding-top: 90px;
		
		h2 {
			font-size: 50px;
		}
	}
}

.social {
	text-align: center;
	
	p {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	
	.social-list {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		
		li {
			padding: 0 5px;
			display: inline-block;
			
			a {
				width: 40px;
				height: 40px;
				display: inline-block;
				border: 1px solid #181818;
				
				&.social-vk {
					background: transparent url("../svg/vk.svg") 50% 50% no-repeat;
				}
				
				&.social-fb {
					background: transparent url("../svg/fb.svg") 50% 50% no-repeat;
				}
				
				&.social-ins {
					background: transparent url("../svg/instagram.svg") 50% 50% no-repeat;
				}
				
				&:hover {
					background-color: #f5f5f5;
				}
			}
			
		}
	}
}

// favorites

.item-rows {
	@include clearfix();
	
	.item-col {
		margin-bottom: 20px;
	}
	
	@media (min-width: $screen-xs-min) {
		margin: 0 -10px;
		
		.item-col {
			float: left;
			width: 50%;
			padding: 0 10px;
			margin-bottom: 20px;
		}
	}
	
	@media (min-width: $screen-sm-min) {
	
	}
	
	@media (min-width: $screen-md-min) {
		
		.item-col {
			width: 25%;
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}

