// Лайки

.like{
	z-index: 50;
	position: absolute;
	width: 25px;
	height: 20px;
	
	.heart{
		width: 25px;
		height: 20px;
		display: inline-block;
		cursor: pointer;
		animation-duration: .45s;
		animation-timing-function: ease;
		animation-direction: alternate;
		
		svg{
			fill: transparent;
			color: transparent;
			transition: all .55s ease;
		}
	}

	.layer {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		width: 100%;
		height: 100%;
		display: inline-block;
		transform: scale(0);
		pointer-events: none;
		
		svg{
			fill: #9a40a1;
			color: #9a40a1;
		}
	}
	
	.hackyBox{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
		
		&:checked {
			~ .heart {
				animation-name: love;
			}
			~ .layer {
				transform: scale(1);
				opacity: 1;
				z-index: -1;
				transition: transform .35s ease, opacity .35s ease;
			}
		}
		
	}
	
	@media (min-width: $screen-sm-min) {
		width: 30px;
		height: 25px;
		
		.heart {
			width: 30px;
			height: 25px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		width: 20px;
		height: 16px;
		
		.heart {
			width: 20px;
			height: 16px;
		}
	}
}


@keyframes love {
	0% {
		transform: scale(1);
	}
	25%{
		transform: scale(0.94);
	}
	50%{
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}


// Превью товара


.slick-slide {
	height: 100%;
	
	.showcase-item {
		height: 100%;
	}
}


.showcase-item {
	height: 100%;
	padding: 40px 10px;
	position: relative;
	border: 1px solid #e9e9e9;
	border-bottom: none;
	
	a {
		color: #292929;
		display: block;
		text-decoration: none;
	}
	
	.showcase-image {
		margin-bottom: 10px;
		text-align: center;
		
		img {
			@include img-responsive(inline-block);
		}
		
		.image-base {
			display: inline-block;
		}
		
		.image-hover {
			display: none;
		}

	}
	
	
	.showcase-text {
		font-size: 11px;
		font-weight: 600;
		line-height: 15px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		
		h4 {
			color: #9e9e9e;
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
		}
	}
	
	.like {
		right: 10px;
		bottom: 15px;
	}
	
	
	@media (min-width: $screen-sm-min) {
		padding: 30px 10px 40px 10px;
		
		.showcase-text {
			font-size: 18px;
			line-height: 30px;
			
			h4 {
				font-size: 18px;
				line-height: 28px;
			}
		}
		
		.like {
			right: 10px;
			bottom: 20px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		padding: 0;
		border: none;
		
		
		.showcase-image {
			
			&:hover {
				
				.image-base {
					display: none;
				}
				
				.image-hover {
					display: inline-block;
				}
			}
		}
		
		.showcase-text {
			text-align: left;
			font-size: 11px;
			line-height: 15px;
			padding-left: 20px;
			padding-right: 20px;
			
			h4 {
				font-size: 11px;
				line-height: 15px;
			}
		}
		
		.like {
			right: 25px;
			bottom: 50px;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
		.like {
			right: 25px;
			bottom: 25px;
		}
	}
}

.goods {
	font-size: 11px;
	line-height: 15px;
	font-weight: 600;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	
	background: #fff;
	padding: 30px 20px;
	border: 1px solid #c9c9c9;
	
	.goods-image {
		max-width: 85%;
		margin: 0 auto 20px auto;
	}
	
	
	.goods-brand {
	
	}
	
	.goods-name {
		color: #939393;
	}
	
	.goods-action {
		padding-top: 15px;
		
		.selectric-wrapper {
			margin-bottom: 10px;
		}
		
		.goods-btn {
			margin-right: 45px;
		}
	}
	
	.like {
		z-index: 300;
		right: 25px;
		bottom: 37px;
	}
	
	@media (min-width: $screen-xs-min) {
	
		.btn-form {
			font-size: 10px;
			padding: 10px 5px;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		max-width: 660px;
		padding: 30px 20px;
		margin: 0 auto;
		
		.goods-action {
			
			.goods-btn {
				margin-right: 65px;
			}
		}
		
		.like {
			bottom: 42px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		max-width: inherit;
		font-size: 11px;
		line-height: 15px;
		padding: 30px 20px 0 20px;
		border-color: transparent;
		
		&:hover {
			text-align: left;
			border-color: #c9c9c9;
			border-bottom-color: transparent;
			
			.goods-action {
				display: block;
			}
		}
		
		.goods-image {
			margin-bottom: 20px;
		}
		
		.goods-name {
			font-size: 11px;
			line-height: 15px;
		}
		
		.like {
			right: 25px;
			bottom: 180px;
		}
		
		.goods-action {
			top: 100%;
			left: -1px;
			right: -1px;
			z-index: 50;
			display: none;
			background: #fff;
			padding: 20px 20px 30px 20px;
			position: absolute;
			border: 1px solid #c9c9c9;
			border-top: none;
			
			.goods-btn {
				margin-right: 0;
			}
		}
	}
}


.tabs {
	
	.tabs-item {
		display: none;
		
		&.active {
			display: block;
		}
	}
}


.slide-nav {
	top: 50%;
	width: 40px;
	height: 9px;
	z-index: 100;
	cursor: pointer;
	margin-top: -5px;
	position: absolute;
	display: inline-block;
	
	
	svg {
		fill: #000;
		color: #000;
	}
	
	&:hover {
		
		svg {
			fill: $color-purple;
			color: $color-purple;
		}
	}
	
	
	&.prev {
		left: 0;

	}
	
	&.next {
		right: 0;

	}
}


.slick-dots {
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 0;
	line-height: 0;
	text-align: center;
	
	li {
		width: 16px;
		height: 16px;
		padding: 4px;
		margin: 0 8px;
		overflow: hidden;
		position: relative;
		display: inline-block;
		
		button {
			margin: 0;
			padding: 0;
			width: 8px;
			height: 8px;
			outline: none;
			color: transparent;
			position: relative;
			display: inline-block;
			background: transparent;
			border: 2px solid #000;
			@include border-radius(50%);

		}
		
		&.slick-active {
			padding: 0;
			
			button {
				width: 100%;
				height: 100%;
				background: #000;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
	
	}
}


.search-modal {
	top: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	z-index: 1500;
	background: #fff;
	padding: 30px 0 100px 0;
	position: absolute;
	@include opacity(0);
	@include transition(.3s);
	
	&.open {
		visibility: visible;
		@include opacity(1);
		@include transition(.3s);
	}
	
	.search-title {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		font-family: $font-head;
		margin-bottom: 30px;
	}
	
	.search-inner {
		max-width: 720px;
		margin: 0 auto;
	}
	
	.search-form {
		position: relative;
	
		.search-input {
			margin: 0;
			width: 100%;
			color: #181818;
			outline: none;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			padding: 9px 50px 9px 10px;
			display: inline-block;
			background: transparent;
			border: 1px solid #181818;
			@include placeholder(#181818);
			
			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}
			
			&:focus {
				@include placeholder(transparent);
			}
		}
		
		.btn-reset {
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			border: none;
			outline: none;
			cursor: pointer;
			position: absolute;
			background: transparent;
			
			&:before {
				top:50%;
				left: 50%;
				content: '';
				width: 17px;
				height: 17px;
				margin-top: -8px;
				margin-left: -8px;
				position: absolute;
				background: url("../svg/cansel.svg") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}
	
	.search-result {
		margin: 0;
		padding: 10px;
		list-style: none;
		
		li {
			padding: 5px 0;
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			text-transform: uppercase;
			
			span {
				color: #181818;
				cursor: pointer;
				position: relative;
				
				&::before,
				&::after {
					top: 50%;
					width: 0;
					height: 1px;
					content: '';
					position: absolute;
					background: $color-purple;
				}
				
				&::before {
					left: 0;
				}
				
				&::after {
					right: 0;
					transition: width 500ms ease;
				}
				
				&:hover {
					color: $color-purple;
					
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		padding-bottom: 120px;
		
		.search-title {
			margin-bottom: 40px;
		}
		
		.search-form {
			
			.search-input {
				font-size: 18px;
				padding: 14px 50px 14px 10px;
			}
			
			.btn-reset {
				width: 50px;
				height: 50px;
			}
		}
		
		.search-result {
			
			li {
				font-size: 15px;
				line-height: 25px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.search-form {
			
			.search-input {
			
			}
		}
		
		.search-result {
			
			li {
				font-size: 11px;
				line-height: 15px;
			}
		}
	}
}


.mb0 {
	margin-bottom: 0;
}

.accordion {
	margin: 0;
	list-style: none;
	padding: 0 0 0 35px;
	
	> li {
		margin-bottom: 25px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		&.open {
			
			.accordion-title {
				
				i {
					&:after {
						transform: rotate(180deg);
					}
					&:before {
						transform: rotate(90deg);
					}
				}
			}
			
			.accordion-content {
				display: block;
			}
		}
	}
	
	.accordion-title {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 10px;
		position: relative;
		cursor: pointer;
		
		i {
			top: 3px;
			left: -35px;
			width: 15px;
			height: 15px;
			cursor: pointer;
			display: inline-block;
			position: absolute;
			
			&:after,
			&:before {
				z-index: 10;
				content: '';
				position: absolute;
				background: #181818;
				display: inline-block;
				transition: transform 500ms ease;
			}
			
			&:after {
				left: 0;
				right: 0;
				top: 7px;;
				height: 1px;
				
			}
			
			
			&:before {
				top: 0;
				bottom: 0;
				left: 7px;
				width: 1px;
			}
		}
	}
	
	.accordion-content {
		font-size: 13px;
		line-height: 20px;
		overflow: hidden;
		display: none;
	}
}

.product-list {
	margin-bottom: 30px;
	
	h2 {
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 10px;
		font-family: $font-head;
	}
	
	.product-list-row {
		margin: 0 -15px;
		@include clearfix();
	}
	
	.product-list-item {
		float: left;
		width: 100%;
		padding: 0 15px;
	}
	
	.showcase-item {
		
		.showcase-text {
			position: relative;
		}
		
		.like {
			right: 0;
			top: 0;
			bottom: auto;
		}
	}
	
	@media (min-width: $screen-xs-min) {
		
		.product-list-item {
			width: 50%;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.product-list-item {
			width: 25%;
		}
	}
}

.rows {
	margin: 0 -10px;
	@include clearfix();
	
	.col-xs-50,
	.col-md-30,
	.col-md-40 {
		float: left;
		min-height: 1px;
		padding: 0 10px;
	}
	
	.col-xs-50 {
		width: 50%;
	}
	
	.col-md-30,
	.col-md-40 {
		width: 100%;
	}
	
	@media (min-width: $screen-sm-min) {
	
	}
	
	@media (min-width: $screen-md-min) {
		
		.col-md-30 {
			width: 20%;
		}
		
		.col-md-40 {
			width: 40%;
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}


.payment {
	margin: 0 -6px 20px -6px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	@include clearfix();
	
	> li {
		float: left;
		margin: 0 6px;
		vertical-align: top;
		
		&.p-visa {
			width: 34px;
		}
		
		&.p-paypal {
			width: 43px;
		}
		
		&.p-ms {
			width: 75px;
		}
		
		&.p-ipay {
			width: 32px;
		}
	}
}


.heading {
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-align: center;
	position: relative;
	margin: 0 -10px 25px -10px;
	
	.heading-nav {
		margin: 0 0 20px 0;
		
		li {
			color: #181818;
			padding: 0 20px;
			font-size: 26px;
			line-height: 30px;
			display: inline-block;
			font-family: $font-head;
			
			a {
				color: #181818;
				text-decoration: none;
				@include opacity(0.5);
			}
			
			span {
				display: inline-block;
				position: relative;
				
				&:before {
					top: 50%;
					width: 100%;
					height: 1px;
					content: '';
					position: absolute;
					background: #9a40a1;
				}
			}
		}
	}
	
	.heading-result {
		color: #9e9e9e;
		font-size: 10px;
		font-weight: 600;
		line-height: 10px;
		text-transform: uppercase;
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		.heading-nav {
			
			li {
				font-size: 40px;
				line-height: 40px
			}
		}
		
		.heading-result {
			top: 20px;
			right: 20px;
			position: absolute;
		}
	}
}