@font-face {
	font-family:'TT Moons';
	src: url('../fonts/TTMoons-Regular/TTMoons-Regular.eot');
	src: url('../fonts/TTMoons-Regular/TTMoons-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/TTMoons-Regular/TTMoons-Regular.woff2') format('woff2'),
	url('../fonts/TTMoons-Regular/TTMoons-Regular.woff') format('woff'),
	url('../fonts/TTMoons-Regular/TTMoons-Regular.ttf') format('truetype'),
	url('../fonts/TTMoons-Regular/TTMoons-Regular.otf') format('opentype'),
	url('../fonts/TTMoons-Regular/TTMoons-Regular.svg#TTMoons-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}


@font-face {
	font-family:'Bodoni';
	src: url('../fonts/Bodoni/Bodoni Italic.eot');
	src: url('../fonts/Bodoni/Bodoni Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Bodoni/Bodoni Italic.woff2') format('woff2'),
	url('../fonts/Bodoni/Bodoni Italic.woff') format('woff'),
	url('../fonts/Bodoni/Bodoni Italic.ttf') format('truetype'),
	url('../fonts/Bodoni/Bodoni Italic.otf') format('opentype'),
	url('../fonts/Bodoni/Bodoni Italic.svg#Bodoni Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}