.footer {
	position: relative;
	
	.footer-line {
		margin-bottom: 50px;
	}
	
	.footer-row {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();
		
		> li {
			float: left;
			width: 100%;
			margin-bottom: 40px;
		}
	}
	
	.footer-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 12px;
		font-weight: 600;
		line-height: 26px;

		> li {
			
			> a {
				color: #292929;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					color: $color-purple;
				}
			}
		}
	}
	
	.footer-logo {
		width: 120px;
		display: block;
	}
	
	h4 {
		font-size: 36px;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 20px;
		font-family: $font-head;
	}
	
	p {
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
	}
	
	.footer-title {
		font-size: 15px;
		font-weight: 600;
		line-height: 20px;
		min-height: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	
	.footer-social {
		margin: 0 -10px;
		padding: 0;
		font-size: 15px;
		font-weight: 600;
		line-height: 30px;
		list-style: none;
		@include clearfix();
	
		> li {
			padding: 0 10px;
			margin-bottom: 10px;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			> a {
				color: #292929;
				display: inline-block;
				position: relative;
				padding-left: 45px;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
				//	color: $color-purple;
				}
				
				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 31px;
					height: 30px;
					position: absolute;
				}
				
				&.social-vk {
					
					&:before {
						background: url("../svg/vk.svg") 0 50% no-repeat;
					}
				}
				
				&.social-fb {
					
					&:before {
						background: url("../svg/fb.svg") 0 50% no-repeat;
					}
				}
				
				&.social-tl {
					
					&:before {
						background: url("../svg/telegram.svg") 0 50% no-repeat;
					}
				}
			}
		}
	}
	
	.footer-payment {
		margin: 0 -10px;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include clearfix();
		
		> li {
			float: left;
			padding: 0 10px;
			vertical-align: top;
		
			&:nth-child(1) {
				width: 70px;
			}
			
			&:nth-child(2) {
				width: 90px;
			}
			
			&:nth-child(3) {
				width: 110px;
			}
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		padding-bottom: 50px;
		
		.footer-row {
		
			> li {
				margin-bottom: 60px;
			}
		}
		
		.footer-line {
			margin-bottom: 75px;
		}
		
		.footer-nav  {
			font-size: 18px;
			line-height: 40px;
		}
		
		h4 {
			font-size: 44px;
			margin-bottom: 25px;
		}
		
		p {
			font-size: 22px;
			line-height: 30px;
		}
		
		.footer-title {
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 20px;
		}
		
		.footer-social {
			font-size: 18px;
			line-height: 26px;
			min-height: 20px;
		
			> li {
				margin-bottom: 20px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
		.footer-payment {
			margin: 0 -15px;
			
			> li {
				padding: 0 15px;
				
				&:nth-child(1) {
					width: 90px;
				}
				
				&:nth-child(2) {
					width: 120px;
				}
				
				&:nth-child(3) {
					width: 150px;
				}
			}
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		padding-bottom: 0;
		
		.footer-row {
			
			> li {
				width: 25%;
				margin-bottom: 70px;
				
				&.double-col {
					width: 50%;
				}
			}
		}
		
		
		.footer-line {
			margin-bottom: 35px;
		}
		
		.footer-nav  {
			font-size: 11px;
			line-height: 30px;
		}
		
		h4 {
			font-size: 24px;
			margin-bottom: 30px;
		}
		
		p {
			font-size: 11px;
			line-height: 15px;
		}
		
		.footer-title {
			font-size: 11px;
			line-height: 20px;
			margin-bottom: 20px;
		}
		
		.footer-social {
			font-size: 11px;
			line-height: 15px;
			
			> li {
				float: left;
				margin-bottom: 0;
				
				> a {
					padding-left: 30px;
					
					&:before {
						width: 16px;
						height: 15px;
					}
				}
			}
		}
		
		.footer-payment {
			margin: 0 -10px;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			@include clearfix();
			
			> li {
				float: left;
				padding: 0 10px;
				vertical-align: top;
				
				&:nth-child(1) {
					width: 60px;
				}
				
				&:nth-child(2) {
					width: 80px;
				}
				
				&:nth-child(3) {
					width: 100px;
				}
			}
		}
	}
}

.footer-line {
	height: 5px;
	position: relative;
	border-top: 2px solid #3d002e;
	border-bottom: 2px solid #9a40a1;
}
