.header {
	background: #fff;
	position: relative;
	padding-top: 15px;
	padding-bottom: 30px;
	
	.header-left {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		
		> li {
			float: left;
			margin-right: 20px;
		}
	}
	
	.header-right {
		margin: 0;
		float: right;
		list-style: none;
		padding-right: 10px;
		
		> li {
			float: left;
			margin-left: 20px;
		}
	}
	
	.header-logo {
		left: 50%;
		top: 0;
		width: 80px;
		position: absolute;
		margin-left: -40px;
	}
	
	.btn-nav {
		float: left;
		width: 24px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		padding-top: 3px;
		display: inline-block;
		
		span {
			width: 100%;
			padding: 3px 0;
			display: inline-block;
			border-top: 2px solid #181818;
		}
	}
	
	.header-search {
		float: left;
		width: 30px;
		height: 30px;
		color: #181818;
		font-size: 11px;
		font-weight: 600;
		line-height: 25px;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		
		&:before {
			top: 0;
			right: 0;
			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
			display: inline-block;
			background: url("../svg/zoom.svg") 0 0 no-repeat;
			background-size: cover;
		}
		
		span {
			display: none;
		}
	}
	
	.header-lk {
		color: #fff;
		float: left;
		width: 24px;
		height: 24px;
		position: relative;
		display: inline-block;
		text-decoration: none;
		
		&:hover {
			
			svg {
				fill: #9a40a1;
				color: #9a40a1;
			}
		}
	}
	
	.header-like {
		color: #fff;
		float: left;
		width: 24px;
		height: 24px;
		position: relative;
		display: block;
		text-decoration: none;
		
		&:hover {
			
			svg {
				fill: #9a40a1;
				color: #9a40a1;
			}
		}
		
		span {
			top: -5px;
			left: 13px;
			color: #fff;
			z-index: 20;
			min-width: 26px;
			display: none;
			font-size: 11px;
			font-weight: 600;
			line-height: 12px;
			padding: 3px 3px;
			position: absolute;
			text-align: center;
			background: #181818;
		}
		
		&.like-visible {
			
			span {
				display: inline-block;
			}
		}
	}
	
	.header-basket {
		color: #fff;
		float: left;
		width: 24px;
		height: 24px;
		position: relative;
		display: inline-block;
		text-decoration: none;
		
		&:hover {
			
			svg {
				fill: #9a40a1;
				color: #9a40a1;
			}
		}
		
		
		span {
			top: -5px;
			left: 13px;
			min-width: 26px;
			color: #fff;
			z-index: 20;
			display: none;
			font-size: 11px;
			font-weight: 600;
			line-height: 12px;
			padding: 3px 3px;
			position: absolute;
			background: #181818;
			text-align: center;
		}
		
		&.basket-full {
			
			span {
				display: inline-block;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding-top: 35px;
		padding-bottom: 80px;
		
		.header-left {
			
			> li {
				margin-right: 50px;
			}
		}
		
		.header-right {
			padding-right: 30px;
			
			> li {
				margin-left: 50px;
			}
		}
		
		.header-logo {
			top: 0;
			left: 50%;
			width: 210px;
			position: absolute;
			margin-left: -105px;
		}
		
		.btn-nav {
			float: left;
			width: 40px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			padding-top: 4px;
			display: inline-block;
			
			span {
				width: 100%;
				padding: 4px 0;
				display: inline-block;
				border-top: 4px solid #181818;
			}
		}
		
		.header-search {
			width: 40px;
			height: 40px;
			
			&:before {
				width: 40px;
				height: 40px;
			}
		}
		
		.header-lk {
			width: 40px;
			height: 40px;
			
			&:after,
			&:before {
				width: 40px;
				height: 40px;
			}
		}
		
		.header-like {
			width: 40px;
			height: 40px;
			
			&:after,
			&:before {
				width: 40px;
				height: 40px;
			}
			
			span {
				top: -8px;
				left: 22px;
				min-width: 44px;
				font-size: 20px;
				line-height: 22px;
				padding: 4px 4px;
			}
		}
		
		.header-basket {
			width: 40px;
			height: 40px;
			
			&:after,
			&:before {
				width: 40px;
				height: 40px;
			}
			
			span {
				top: -8px;
				left: 22px;
				min-width: 44px;
				font-size: 20px;
				line-height: 22px;
				padding: 4px 4px;
			}
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		padding-top: 35px;
		padding-bottom: 30px;
		
		&:before {
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
			content: '';
			position: absolute;
			border-top: 2px solid #3d002e;
		}
		
		&:after {
			left: 0;
			right: 0;
			top: 3px;
			z-index: 10;
			content: '';
			position: absolute;
			border-top: 2px solid #9a40a1;
		}
		
		
		.header-left {
			
			> li {
				margin-right: 30px;
			}
		}
		
		.header-right {
			
			> li {
				margin-left: 30px;
			}
		}
		
		.header-logo {
			top: 0;
			left: 50%;
			width: 120px;
			position: absolute;
			margin-left: -60px;
		}
		
		.header-search {
			width: 270px;
			height: 35px;
			background: #f3f3f3;
			padding: 5px 40px 5px 20px;
			
			&:hover {
				background: #ededed;
			}
			
			&:before {
				top: 50%;
				right: 20px;
				width: 20px;
				height: 20px;
				margin-top: -10px;
			}
			
			span {
				display: inline;
			}
		}
		
		.header-lk {
			width: 20px;
			height: 20px;
			
			&:after,
			&:before {
				width: 20px;
				height: 20px;
			}
		}
		
		.header-like {
			width: 20px;
			height: 20px;
			
			&:after,
			&:before {
				width: 20px;
				height: 20px;
			}
			
			span {
				top: -3px;
				left: 15px;
				min-width: 26px;
				font-size: 11px;
				line-height: 12px;
				padding: 2px 4px;
			}
		}
		
		.header-basket {
			width: 20px;
			height: 20px;
			
			&:after,
			&:before {
				width: 20px;
				height: 20px;
			}
			
			span {
				top: -3px;
				left: 15px;
				min-width: 26px;
				font-size: 11px;
				line-height: 12px;
				padding: 2px 4px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}

.header-empty {
	z-index: 100;
	padding-top: 30px;
	position: relative;
	margin-bottom: -10px;
	
	&:before {
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		content: '';
		position: absolute;
		border-top: 2px solid #3d002e;
	}
	
	&:after {
		left: 0;
		right: 0;
		top: 3px;
		z-index: 10;
		content: '';
		position: absolute;
		border-top: 2px solid #9a40a1;
	}
	
	.header-logo {
		width: 120px;
		display: block;
		margin: 0 auto;
	}
	
	@media (min-width: $screen-md-min) {
		margin-bottom: -20px;
	}
}

