.topnav {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1200;
	display: none;
	background: #fff;
	position: absolute;
	padding: 15px 0 20px 0;
	
	&.open {
		display: block;
	}
	
	.btn-nav-close {
		width: 26px;
		height: 26px;
		display: block;
		cursor: pointer;
		margin: 0 auto 5px auto;
		background-size: cover;
	}
	
	.nav-primary {
		margin: 0;
		padding: 0;
		list-style: none;
		
		> li {
			
			 > a {
				 width: 100%;
				 color: #181818;
				 font-size: 24px;
				 line-height: 30px;
				 padding: 4px 10px;
				 text-align: center;
				 display: inline-block;
				 text-decoration: none;
				 font-family: $font-head;
				 
				  span {
					 
				  }
				 
				 &:hover {
					color: $color-purple;
				 }
			 }
			
			&:hover {
				
				.nav-second {
					display: block;
				}
			}
		}
	}
	
	
	.nav-second {
		display: none;
		padding: 10px 0;
		z-index: 1200;
		
		.nav-second-title {
			display: none;
			font-size: 30px;
			font-weight: 400;
			line-height: 30px;
			text-align: left;
			font-family: $font-head;
			margin-bottom: 20px;
		}
		
		 ul {
			 margin: 0;
			 padding: 0;
			 list-style: none;
			
			> li {
				
				> a {
					width: 100%;
					color: #181818;
					font-size: 14px;
					font-weight: 600;
					line-height: 20px;
					padding: 3px 10px;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					
					&:hover {
						color: $color-purple;
					}
				}
			}
		}
		
		.single-brand {
			display: none;
			text-align: left;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 20px 0 20px 0;
		
		.btn-nav-close {
			width: 30px;
			height: 30px;
			margin-bottom: 30px;
			background-size: auto auto;
		}
		
		.nav-primary {
		
			> li {
			
				> a {
					font-size: 28px;
					line-height: 30px;
					padding: 8px 10px;
				}
			}
		}
		
		.nav-second {
			padding: 15px 0;
			
			ul {
			
				> li {
					
					a {
						font-size: 18px;
						line-height: 26px;
						padding: 8px 20px;
					}
				}
			}
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		top: auto;
		left: auto;
		right: auto;
		padding: 0;
		display: block;
		position: relative;
		
		.btn-nav-close {
			display: none;
		}
		
		.nav-primary {
			width: 100%;
			font-size: 0;
			line-height: 0;
			text-align: center;
			display: block;
			padding: 0 30px;
			
			> li {
				padding: 0 10px;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
			
				> a {
					width: auto;
					font-size: 13px;
					font-weight: 600;
					line-height: 20px;
					position: relative;
					font-family: $font-base;
					text-transform: uppercase;
					padding: 5px 0 25px 0;
					
					&:before {
						left: 0;
						right: 0;
						top: 100%;
						height: 7px;
						content: '';
						z-index: 1100;
						display: none;
						position: absolute;
						background: url("../svg/skobka.svg") 50% 0 no-repeat;
					}
				
					
					span {
						position: relative;
						display: inline-block;
						
						&::before,
						&::after {
							top: 50%;
							width: 0;
							height: 1px;
							content: '';
							position: absolute;
							background: $color-purple;
						}
						
						&::before {
							left: 0;
						}
						
						&::after {
							right: 0;
							transition: width 500ms ease;
						}
					}
				}
				
				&.dropdown {
				
					&:hover {
						
						> a {
							
							&:before {
								display: block;
							}
						}
					}
				}
				
				&:hover {
				
					> a {
					
						span {
							
							&::before {
								width: 100%;
								transition: width 500ms ease;
							}
							
							&::after {
								width: 100%;
								background: transparent;
								transition: 0;
							}
						}
					}
					
					.nav-second {
						visibility: visible;
						@include opacity(1);
						
						.nav-second-title {
							@include opacity(1);
							@include transition(.5s);
						}
						
						ul {
							@include opacity(1);
							@include transition(.5s);
						}
						
						.single-brand {
							@include opacity(1);
							@include transition(.5s);
						}
						
					}
				}
			}
		}
		
		.nav-second {
			top: 100%;
			left: 0;
			right: 0;
			z-index: 999;
			display: block;
			visibility: hidden;
			background: #fff;
			padding: 25px 30px;
			position: absolute;
			@include clearfix();
			border-top: 1px solid #d5d5d5;
			border-bottom: 1px solid #d5d5d5;
			@include opacity(0);
			
			.nav-second-title {
				display: block;
				@include opacity(0);
				@include transition(.5s);
			}
			
			ul {
				@include opacity(0);
				@include transition(.3s);
				
				li {
					
					a {
						text-align: left;
						font-size: 11px;
						line-height: 25px;
						padding: 0;
					}
				}
			}
			
			.nav-second-column {
				width: 180px;
				float: left;
			}
			
			.nav-second-inline {
				width: 360px;
				@include clearfix();
				
				li {
					width: 50%;
					float: left;
				}
			}
			
			
			.single-brand {
				display: block;
				float: right;
				width: 350px;
				font-size: 11px;
				font-weight: 600;
				line-height: 20px;
				text-transform: uppercase;
				
				@include opacity(0);
				@include transition(.5s);
				
				.single-brand-image {
					display: block;
					margin-bottom: 15px;
				}
				
				.go-brand {
					color: #181818;
					text-decoration: underline;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.nav-primary {
			
			> li {
				padding: 0 25px;
			}
		}
		
		.nav-second {
			padding: 25px 60px;
			
			.nav-second-column {
				width: 230px;
			}
			
			.nav-second-inline {
				width: 460px;
			}
		}
	}
}

