.mobile-nav {
	padding: 0;
	margin: 0 -10px 30px -10px;
	list-style: none;
	
	> li {
		padding: 0 10px;
		margin-bottom: 15px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		.btn-border {
			width: 100%;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		margin-bottom: 50px;
		@include flexbox();
		@include flex-direction(row);
		
		> li {
			width: 50%;
			@include flex(1);
			margin-bottom: 0;
		}
	}
	
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.toolbar {
	margin-bottom: 20px;
	@include clearfix();
	
	.toolbar-value {
		width: 100%;
		float: left;
		color: #9e9e9e;
		font-size: 10px;
		font-weight: 600;
		line-height: 15px;
		text-transform: uppercase;
	}
	
	
	.toolbar-option {
		margin: 0 -10px;
		padding: 0;
		float: right;
		list-style: none;
		text-transform: uppercase;
		
		> li {
			float: left;
			padding: 0 10px;
			
			&:last-child {
				width: 200px;
			}
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		.toolbar-value {
			width: auto;
			padding: 10px 0;
			font-size: 18px;
			line-height: 30px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;
		
		.toolbar-value {
			padding: 10px 0;
			font-size: 10px;
			line-height: 20px;
		}
	}
}

.view-params {
	display: inline-block;
	
	label {
		color: #292929;
		padding: 5px 5px;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		display: inline-block;
		
		&::before,
		&::after {
			display: none !important;
		}
		
		.icr-text {
			position: relative;
			
			&::before,
			&::after {
				top: 50%;
				width: 0;
				height: 1px;
				content: '';
				position: absolute;
				background: $color-purple;
			}
			
			&::before {
				left: 0;
			}
			
			&::after {
				right: 0;
				transition: width 350ms ease;
			}
		}
		
		&:hover {
			color: #292929;
			
			.icr-text {
				&::before {
					width: 100%;
					transition: width 350ms ease;
				}
				
				&::after {
					width: 100%;
					background: transparent;
					transition: 0;
				}
			}
		}
		
		.icr-hidden {
			display: none;
		}
		
		&.checked {
			color: #292929;
			
			.icr-text {
				&::before {
					width: 100%;
					transition: width 500ms ease;
				}
				
				&::after {
					width: 100%;
					background: transparent;
					transition: 0;
				}
			}
			
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		label {
			padding: 10px 5px;
			font-size: 18px;
			line-height: 30px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		label {
			padding: 10px 5px;
			font-size: 11px;
			line-height: 20px;
		}
	}
}

.view-option {
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	font-size: 0;
	line-height: 0;
	position: relative;
	background: transparent;
	
	
	label {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;
		background: transparent;
		
		&:after,
		&:before {
			width: 5px;
			height: 5px;
			z-index: 10;
			content: '';
			border: none;
			margin-top: 0;
			position: absolute;
			background: #181818;
		}
		
		&:after {
			top: 7px;
			left: 12px;
		}
		
		&:before {
			top: 18px;
			left: 12px;
		}
		
		.icr-hidden {
			display: none;
		}
		
		.icr-text {
			width: 100%;
			height: 100%;
			display: inline-block;
			border: 1px solid #e9e9e9;
			
			&:after,
			&:before {
				width: 5px;
				height: 5px;
				z-index: 10;
				content: '';
				display: none;
				position: absolute;
				background: #181818;
			}
			
			&:after {
				top: 7px;
				left: 18px;
			}
			
			&:before {
				top: 18px;
				left: 18px;
			}
		}
		
		&.checked {
			
			&:after,
			&:before {
				background: #9a40a1;
			}
			
			.icr-text {
				
				&:after,
				&:before {
					background: #9a40a1;
				}
			}
		}
	}
	
	&.option-col {
		
		label {
			
			&:after {
				left: 7px;
			}
			
			&:before {
				left: 7px;
			}
			
			.icr-text {
				
				&:after,
				&:before {
					display: inline-block;
				}
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		width: 50px;
		height: 50px;
		
		label {
			
			&:after,
			&:before {
				width: 8px;
				height: 8px;
			}
			
			&:after {
				top: 12px;
				left: 21px;
			}
			
			&:before {
				top: 30px;
				left: 21px;
			}
			
			.icr-text {
				
				&:after,
				&:before {
					width: 8px;
					height: 8px;
				}
				
				&:after {
					top: 12px;
					left: 30px;
				}
				
				&:before {
					top: 30px;
					left: 30px;
				}
			}
		}
		
		&.option-col {
			
			label {
				
				&:after {
					left: 12px;
				}
				
				&:before {
					left: 12px;
				}
			}
		}
	}
}

.showcase {
	@include clearfix();
	border-top: 1px solid #d5d5d5;
	
	.showcase-item {
		border: none;
	}
	
	.showcase-col {
		float: left;
		width: 100%;
		border: 1px solid #d5d5d5;
		border-top: none;
	}
	
	&.column {
		border-left: 1px solid #d5d5d5;
		
		.showcase-col {
			width: 50%;
			border-left: none;
		}
	}
	
	
	.slick-dots {
		font-size: 0;
		line-height: 0;
		margin: 0 -15px;
		text-align: center;
		padding: 50px 0 0 0;
	}
	
	.slide-nav {
		top: 50%;
		width: 40px;
		height: 9px;
		z-index: 100;
		cursor: pointer;
		margin-top: -80px;
		position: absolute;
		display: inline-block;
		background: url("../img/icon_arrows.png") no-repeat;
		
		&.prev {
			left: -10px;
			background-position: 0 -18px;
			
			&:hover {
				background-position: 0 -9px;
			}
		}
		
		&.next {
			right: -10px;
			background-position: -40px -18px;
			
			&:hover {
				background-position: -40px -9px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		border: none;
		margin: 0 -15px;
		
		&.column {
			border-left: none;
		}
		
		.showcase-col {
			width: 50%;
			border: none;
			padding: 0 15px;
			margin-bottom: 30px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		border-bottom: none;
		
		.showcase-col {
			width: 33.33%;
		}
		
		&.column {
			
			.showcase-col {
				width: 33.33%;
			}
		}
	}
}


.new-slide {
	
	.slick-list {
		border: 1px solid #e9e9e9;
	}
	
	.slick-current {
		border-left: none;
		
		.showcase-item {
			border-left: none;
		}
	}
	
	.showcase-item {
		border: none;
		border-left: 1px solid #e9e9e9;
		
	}
	
	.product-slide-item {
		border: none;
		outline: none;
		position: relative;
	}
	
	@media (min-width: $screen-md-min) {
		
		
		.slick-list {
			border: none;
		}
		
		.showcase-item {
			border: none;
		}
	}
}

.browsed {
	padding-top: 40px;
	
	h2 {
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 10px;
		font-family: $font-head;
	}
	
	
	.browsed-nav {
		margin: 0 -10px 5px -10px;
		@include clearfix();
	
		> li {
			float: left;
			padding: 0 10px;
			
			> a {
				color: #181818;
				font-size: 24px;
				line-height: 30px;
				padding-right: 5px;
				position: relative;
				font-family: $font-head;
				display: inline-block;
				@include opacity(0.5);
				
				&::before,
				&::after {
					top: 50%;
					width: 0;
					height: 1px;
					content: '';
					position: absolute;
					background: $color-purple;
				}
				
				&::before {
					left: 0;
				}
				
				&::after {
					right: 0;
					transition: width 500ms ease;
				}
				
				&:hover {
					
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
			
			&.active {
				
				> a {
					@include opacity(1);
				}
			}
		}
	}
	
	.browsed-row {
		margin: 0 -15px;
		
		.browsed-item {
			width: 25%;
			float: left;
			padding: 0 15px;
		}
	}

	@media (min-width: $screen-sm-min) {
	
	}
	
	@media (min-width: $screen-md-min) {
		
		.showcase-item {
			border: none;
		}
	}
}


.product {
	margin-bottom: 50px;
	@include clearfix();
	
	.product-gallery {
		position: relative;
		margin-bottom: 50px;
		
		.product-images-thumbs {
			display: none;
		}
		
		.product-images {
			@include clearfix();
		}
		
		.slider-large {
			max-width: 520px;
			margin: 0 auto 40px auto;
			position: relative;
			
			.slick-dots {
				padding: 50px 0 0 0;
				
			}
			
			.product-video {
				position: relative;
				
				&:before {
					color: #000;
					top: 50%;
					left: 50%;
					width: 50px;
					height: 50px;
					font-size: 60px;
					content: "\f01d";
					margin-top: -40px;
					margin-left: -30px;
					position: absolute;
					text-align: center;
					font-family: FontAwesome;
				}
				
				&:hover {
					
					&:before {
						color: $color-purple;
						border-color: $color-purple;
					}
				}
			}
		}
		
		.slider-thumbs {
			position: relative;
			
			.slider-thumbs-item {
				border: none;
				outline: none;
				padding: 5px 0;
				position: relative;
				
				&.slick-current {
					
					.thumbs-inner {
						border-color: #000;
					}
				}
				
				.thumbs-inner {
					cursor: pointer;
					border: 1px solid transparent;
				}
			}
			
			.product-video {
				position: relative;
				
				&:before {
					color: #000;
					top: 50%;
					left: 50%;
					width: 20px;
					height: 20px;
					font-size: 20px;
					content: "\f01d";
					margin-top: -10px;
					margin-left: -15px;
					position: absolute;
					text-align: center;
					font-family: FontAwesome;
				}
				
			}
		
		}
		
		
		.product-sm-action {
			margin: 0 auto;
			padding: 0;
			font-size: 0;
			width: 100%;
			line-height: 0;
			display: table;
			list-style: none;
			
			&.no-video {
				width: auto;
			
				> li {
					
					&:first-child {
						padding-right: 0;
					}
					
					&:last-child {
						padding-left: 0;
					}
					
					&:nth-child(2) {
						display: none;
					}
				}
			}
			
			> li {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				
				&:first-child {
					width: 55px;
					padding-right: 15px;
				}
				
				&:last-child {
					width: 55px;
					padding-left: 15px;
				}
			}
			
			
			.btn-product-share {
				width: 40px;
				height: 40px;
				padding: 9px;
				display: inline-block;
				border: 1px solid #c9c9c9;
			}
			
			.btn-play {
				color: #000;
				width: 100%;
				height: 40px;
				padding: 9px;
				text-align: center;
				display: inline-block;
				border: 1px solid #c9c9c9;
				
				span {
					height: 20px;
					font-size: 12px;
					font-weight: 600;
					line-height: 20px;
					padding-left: 30px;
					position: relative;
					display: inline-block;
					text-transform: uppercase;
					
					&:before {
						left: 0;
						top: 50%;
						content: '';
						width: 20px;
						height: 20px;
						margin-top: -10px;
						position: absolute;
						background: url("../svg/play.svg") 50% 50% no-repeat;
						background-size: cover;
					}
				}
			}
			
			.like {
				position: relative;
				display: inline-block;
			}
		}
		
		.product-share {
			padding: 0;
			float: right;
			list-style: none;
			@include clearfix();
			margin: 0 -8px;
			
			> li {
				float: left;
				padding: 0 5px;
				font-size: 11px;
				font-weight: 600;
				line-height: 20px;
				text-transform: uppercase;
				
				&:first-child {
					padding-top: 3px;
				}
				
				a {
					font-size: 16px;
					display: block;
					color: #292929;
					text-decoration: none;
				}
				
				span {
				
				}
			}
		}
	}
	
	.product-content {
		
		.product-brand {
			font-size: 28px;
			line-height: 30px;
			margin-bottom: 5px;
			font-family: $font-head;
			text-transform: uppercase;
		}
		
		.product-name {
			color: #9e9e9e;
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		
		.product-price {
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 25px;
		}
		
		.product-color {
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			margin-bottom: 30px;
			text-transform: uppercase;
			
			span {
				display: block;
				margin-bottom: 5px;
			
			}
			
			ul {
				padding: 0;
				margin: 0 -5px;
				list-style: none;
				@include clearfix();
				
				> li {
					width: 20px;
					float: left;
					margin: 0 5px;
				}
				
				.icr-label {
					font-size: 0;
					line-height: 0;
					display: block;
					position: relative;
					cursor: pointer;
					
					.icr-hidden {
						display: none !important;
					}
					
					.icr-item {
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						display: block;
						position: absolute;
						border: 1px solid transparent;
					}
					
					&.checked {
						
						.icr-item {
							border-color: #000;
						}
					}
				}
			}
		}
		
		.product-row {
			padding: 0;
			margin: 0 -5px;
			list-style: none;
			@include clearfix();
			
			> li {
				width: 100%;
				float: left;
				padding: 0 5px;
				margin-bottom: 15px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
		.product-size {
			font-size: 11px;
			line-height: 15px;
		}
		
		.text-comments {
			color: #7b7b7b;
			font-size: 11px;
			font-weight: 600;
			line-height: 20px;
			text-transform: uppercase;
			display: inline-block;
		}
		
		.product-question {
			color: #7b7b7b;
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			margin-bottom: 25px;
			text-transform: uppercase;
			
			span {
				display: block;
				margin-bottom: 5px;
			}
			
			a {
				color: #292929;
				text-decoration: underline;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
		
		.product-buy {
			margin-bottom: 30px;
			
			.btn {
				width: 100%;
			}
		}
		
		.product-info {
			margin: 0;
			list-style: none;
			padding: 0 0 0 35px;
		
			> li {
				margin-bottom: 25px;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				&.open {
					
					.product-info-title {
						
						i {
							&:after {
								transform: rotate(180deg);
							}
							&:before {
								transform: rotate(90deg);
							}
						}
					}
					
					.product-info-content {
						display: block;
					}
				}
			}
			
			.product-info-title {
				font-size: 16px;
				font-weight: 600;
				line-height: 20px;
				margin-bottom: 10px;
				position: relative;
				cursor: pointer;
				
				i {
					top: 3px;
					left: -35px;
					width: 15px;
					height: 15px;
					cursor: pointer;
					display: inline-block;
					position: absolute;
					
					&:after,
					&:before {
						z-index: 10;
						content: '';
						position: absolute;
						background: #181818;
						display: inline-block;
						transition: transform 500ms ease;
					}
					
					&:after {
						left: 0;
						right: 0;
						top: 7px;;
						height: 1px;
				
					}
					
					
					&:before {
						top: 0;
						bottom: 0;
						left: 7px;
						width: 1px;
					}
				}
			}
			
			.product-info-content {
				font-size: 13px;
				line-height: 20px;
				overflow: hidden;
				display: none;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		margin-bottom: 120px;
		
		.product-gallery {
			
			.product-sm-action {
				
				> li {
					
					&:first-child {
						width: 100px;
						padding-right: 40px;
					}
					
					&:last-child {
						width: 100px;
						padding-left: 40px;
					}
				}
				
				.btn-product-share {
					width: 60px;
					height: 60px;
					padding: 15px;
				}
				
				.btn-play {
					height: 60px;
					padding: 15px;
					
					span {
						height: 30px;
						font-size: 22px;
						line-height: 30px;
						padding-left: 50px;
						
						&:before {
							width: 30px;
							height: 30px;
							margin-top: -15px;
						}
					}
				}
				
				.like {
					position: relative;
					display: inline-block;
				}
			}
			
			.slider-large {
				
				.product-video {
					position: relative;
					
					&:before {
						width: 90px;
						height: 90px;
						font-size: 90px;
						margin-top: -70px;
						margin-left: -45px;
					}
				}
			}
		}
		
		.product-content {
			
			.product-brand {
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 20px;
			}
			
			.product-name {
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 20px;
			}
			
			.product-price {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 20px;
			}
			
			.product-row {
				
				> li {
				
				}
			}
			
			
			.product-size {
				margin-bottom: 25px;
			}
			
			.product-question {
				font-size: 14px;
				line-height: 20px;
				
				span {
					display: inline;
					margin-bottom: 0;
				}
			}
			
			
			.product-info {
				padding-left: 70px;
				
				> li {
					margin-bottom: 40px;
					
					&:last-child {
						margin-bottom: 0
					}
				}
				
				.product-info-title {
					font-size: 20px;
					line-height: 22px;
					margin-bottom: 20px;
			
					
					i {
						left: -50px;
						width: 21px;
						height: 21px;
						
						&:after {
							top: 10px;;
						}
						
						
						&:before {
							left: 10px;
						}
					}
				}
				
				.product-info-content {
					font-size: 16px;
					line-height: 22px;
				}
			}
			
			.product-row {
				
				> li {
					margin-bottom: 20px;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		margin: 0 -15px 50px -15px;
		
		.product-gallery {
			width: 50%;
			float: left;
			padding: 0 15px;
			
			
			.product-images-thumbs {
				display: block;
				float: left;
				width: 70px;
			}
			
			.product-images-large {
				float: right;
				width: 370px;
			}
			
		}
		
		.product-content {
			width: 50%;
			float: left;
			padding: 0 15px;
			
			.product-brand {
				font-size: 28px;
				line-height: 30px;
				margin-bottom: 5px;
			}
			
			.product-name {
				font-size: 11px;
				font-weight: 600;
				line-height: 15px;
				margin-bottom: 20px;
			}
			
			.product-price {
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 25px;
			}
			
			.product-row {
				margin: 0 -5px;
				@include clearfix();
				
				> li {
					width: 45%;
					float: left;
					padding: 0 5px;
					margin-bottom: 0;
					min-width: 1px;
					
					&:last-child {
						width: 10%;
						position: relative;
					}
					
					.btn {
						padding: 15px 20px;
					}
					
					.like {
						top: 15px;
						left: 15px;
					}
				}
			}
			
			.product-question {
				font-size: 11px;
				line-height: 15px;
				
				span {
					display: block;
					margin-bottom: 5px;
				}
				
				a {
					color: #292929;
					text-decoration: underline;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
			
			.product-info {
				margin: 0;
				list-style: none;
				padding: 0 0 0 35px;
				
				> li {
					margin-bottom: 25px;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
				
				.product-info-title {
					font-size: 16px;
					font-weight: 600;
					line-height: 20px;
					margin-bottom: 10px;
					
					i {
						top: 3px;
						left: -35px;
						width: 15px;
						height: 15px;
						cursor: pointer;
						display: inline-block;
						position: absolute;
						
						&:after {
							top: 7px;
						}
						
						
						&:before {
							left: 7px;
						}
					}
				}
				
				.product-info-content {
					font-size: 13px;
					line-height: 20px;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.product-gallery {
			padding-right: 35px;
			
			.product-images-large {
				width: 460px;
			}
		}
		
		.product-content {
			padding-left: 35px;
			
			.product-row {
				
				> li {
					width: 46%;
				
					&:last-child {
						width: 8%;
					}
				}
			}
			
			.text-comments  {
				padding-top: 10px;
			}
		}
	}
}

.slider-large {
	max-width: 520px;
	margin: 0 auto 30px auto;
	position: relative;
}


.rec {
	
	h3 {
		font-size: 24px;
		line-height: 1.1;
		max-width: 400px;
		font-family: $font-head;
		margin-bottom: 20px;
	}
	
	.rec-slider {
		position: relative;

		
		.rec-slider-item {
			border: none;
			outline: none;
			position: relative;
			padding-bottom: 10px;

			
			a {
				outline: none;
				display: block;
				position: relative;
				padding-bottom: 20px;
				border-bottom: 1px solid #d5d5d5;
				
				&:before {
					top: 100%;
					left: 50%;
					content: '';
					width: 172px;
					height: 7px;
					display: none;
					margin-left: -86px;
					position: absolute;
					background: url("../svg/skobka.svg") 50% 0 no-repeat;
				}
				
				&.active {
					
					&:before {
						display: block;
					}
				}
			}
		}
		
		.slide-nav {
			
			&.prev {
				left: 0;
			}
			
			&.next {
				right: 0;;
			}
		}
	}
	
	.rec-tabs {
		display: none;
		
		&.active {
			display: block;
		}
	}
	
	.rec-look {
		padding-top: 30px;
		@include clearfix();
	
		.rec-look-item {
			margin-bottom: 20px;
		}
	}
	
	@media (min-width: $screen-xs-min) {
		
		.rec-look {
			margin: 0 -10px;
			padding-top: 30px;
			@include clearfix();
			
			.rec-look-item {
				float: left;
				width: 50%;
				padding: 0 10px;
				margin-bottom: 20px;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		
		h3 {
			font-size: 60px;
			margin-bottom: 50px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		h3 {
			font-size: 24px;
			margin-bottom: 20px;
		}
		
		.rec-look {
			
			.rec-look-item {
				width: 25%;
				margin-bottom: 20px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		.rec-look {
			
			.rec-look-item {
				width: 20%;
			}
		}
	}
}
