.sidebar {

}

.filter-group {
	padding: 40px 15px 20px 15px;
	display: none;
	z-index: 500;
	background: #fff;
	position: relative;
	border-top: 1px solid #181818;
	border-bottom: 1px solid #181818;
	
	.filter-close {
		right: 10px;
		top: 10px;
		width: 20px;
		height: 20px;
		content: '';
		cursor: pointer;
		position: absolute;
		background: url("../svg/btn_close.svg") 50% 50% no-repeat;
	}
	
	&.open {
		top: 0;
		left: 0;
		right: 0;
		display: block;
		position: absolute;
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 100px 15px 30px 15px;
		
		.filter-close {
			right: 20px;
			top: 20px;
			width: 30px;
			height: 30px;
		}
	}
	
	@media (min-width: $screen-md-min) {
		padding: 0;
		display: block;
		border-top: none;
		border-bottom: none;
		
		
		.filter-close {
			display: none;
		}
	}
}


.filter {
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
	
	&.filter-slide-toggle {
		
		.filter-toggle {
			left: 0;
			top: 3px;
			width: 15px;
			height: 15px;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			
			&:after,
			&:before {
				z-index: 10;
				content: '';
				position: absolute;
				background: #181818;
				transition: transform 350ms ease;
			}
			
			&:after {
				left: 0;
				right: 0;
				top: 7px;;
				height: 1px;
				display: inline-block;
			}
			
			
			&:before {
				top: 0;
				bottom: 0;
				left: 7px;
				width: 1px;
				display: inline-block;
			}
		}
		
		.filter-body {
			display: none;
		}
		
		&.open {
			
			.filter-toggle {
				cursor: default;
				
				&:after {
					transform: rotate(180deg);
				}
				&:before {
					transform: rotate(90deg);
				}
			}
		}
	}

	
	.filter-title {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		cursor: pointer;
		display: inline-block;
	}
	
	.filter-reset {
		right: 0;
		top:0;
		cursor: pointer;
		color: #9e9e9e;
		font-size: 10px;
		font-weight: 600;
		line-height: 16px;
		position: absolute;
		text-transform: uppercase;
	}
	
	.filter-body {
		font-size: 11px;
		font-weight: 600;
		line-height: 15px;
		padding: 20px 0;
		text-transform: uppercase;
	}
	
	.scrollbar-inner {
		height: 270px;
		max-height: 270px;
		
		.scroll-content {
			padding-right: 10px;
		}
	}
	
	.filter-content-list {
	
		> li {
			padding: 5px 0;
			
			.filter-name {
				position: relative;
				padding-right: 5px;
				cursor: pointer;
				display: inline-block;
				text-transform: uppercase;
				
				&::before,
				&::after {
					top: 50%;
					width: 0;
					height: 1px;
					content: '';
					position: absolute;
					background: $color-purple;
				}
				
				&::before {
					left: 0;
				}
				
				&::after {
					right: 0;
					transition: width 500ms ease;
				}
				
				&:hover {
					
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
			
			.filter-list {
				margin: 0;
				display: none;
				padding: 5px 0;
				
				> li {
					padding: 3px 0;
				}
			}
			
			&.open {
			
				.filter-name {
					
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
		}
	}
	
	.size-name {
		display: inline-block;
		margin-bottom: 10px;
		position: relative;
		
		.size-type {
			margin-left: 8px;
			display: inline-block;
			
			&.open {
				
				.size-toggle {
					
					&:before {
						display: inline-block;
					}
				}
				
				.size {
					display: block;
				}
			}
			
			&:hover {
				
				.size-toggle {
					
					&:after,
					&:before {
						display: inline-block;
					}
				}
				
				.size {
					display: block;
				}
			}
		}
		
		.size-toggle {
			color: #9a40a1;
			cursor: pointer;
			position: relative;
			display: inline-block;
			text-decoration: underline;
			
			&::before,
			&::after {
				z-index: 220;
				top:100%;
				content: '';
				display: none;
				position: absolute;
				left: 50%;
				border: 8px solid transparent;
				border-bottom: 8px solid #d5d5d5;
			}
			
			&::before {
				margin-top: -5px;
				margin-left: -8px;
			}
			
			&::after {
				border-bottom: 8px solid white;
				margin-top: -4px;
				margin-left: -8px;
			}
		}
	}
	
	.size {
		left: -10px;
		top: 100%;
		width: 250px;
		z-index: 200;
		display: none;
		padding-top: 10px;
		position: absolute;
		
		ul {
			margin: 0;
			padding: 20px;
			background: #fff;
			list-style: none;
			position: relative;
			border: 1px solid #d5d5d5;
			
			> li {
				padding: 5px 0;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding-left: 40px;
		
		&.filter-slide-toggle {
			
			.filter-toggle {
				left: 0;
				top: 3px;
				width: 30px;
				height: 30px;
				cursor: pointer;
				position: absolute;
				display: inline-block;
				
				&:after,
				&:before {
					z-index: 10;
					content: '';
					position: absolute;
					background: #181818;
				}
				
				&:after {
					left: 0;
					right: 0;
					top: 14px;;
					height: 1px;
					display: inline-block;
				}
				
				&:before {
					top: 0;
					bottom: 0;
					left: 14px;
					width: 1px;
					display: inline-block;
				}
			}
		}
		
		.filter-title {
			font-size: 21px;
			line-height: 30px;
		}
		
		.filter-body {
			font-size: 16px;
			line-height: 24px;
			padding-top: 20px;
		}
		
		.filter-content-list {
		
			> li {
				padding: 10px 0;
				
				.filter-list {
					padding: 5px 0;
					
					> li {
						padding: 5px 0;
					}
				}
			}
		}
		
		.size {
			width: 350px;
			
			ul {
				
				> li {
					padding: 10px 0;
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		max-width: 270px;
		padding-left: 20px;
		
		&.filter-slide-toggle {
			
			.filter-toggle {
				left: 0;
				top: 3px;
				width: 15px;
				height: 15px;
				cursor: pointer;
				position: absolute;
				display: inline-block;
				
				&:after,
				&:before {
					z-index: 10;
					content: '';
					position: absolute;
					background: #181818;
				}
				
				&:after {
					left: 0;
					right: 0;
					top: 7px;;
					height: 1px;
					display: inline-block;
				}
				
				
				&:before {
					top: 0;
					bottom: 0;
					left: 7px;
					width: 1px;
					display: inline-block;
				}
			}
		}
		
		.filter-title {
			font-size: 16px;
			line-height: 20px;
		}
		
		.filter-body {
			font-size: 11px;
			line-height: 15px;
			padding-top: 20px;
		}
		
		.filter-content-list {
			
			> li {
				padding: 5px 0;
				
				
				.filter-list {
					padding: 5px 0;
					
					> li {
						padding: 3px 0;
					}
				}
			}
		}
		
		.size-name {
			margin-bottom: 10px;
			position: relative;
			
			.size-toggle {
				
				&::before,
				&::after {
					top:0;
					left: auto;
					z-index: 220;
					content: '';
					margin-left: 0;
					margin-top: 2px;
					position: absolute;
					border: 8px solid transparent;
					border-right: 8px solid #d5d5d5;
				}
				
				&::before {
					right: -11px;
				}
				
				&::after {
					right: -12px;
					border-right: 8px solid white;
			
				}
			}
		}
		
		.size {
			left: 100%;
			top: -20px;
			width: 250px;
			z-index: 200;
			padding-top: 0;
			padding-left: 10px;
			
			
		}
	}
}

.filter {
	
	.icr-label {
		font-size: 11px;
		font-weight: 600;
		line-height: 15px;
		padding-left: 30px;
		position: relative;
		display: inline-block;
		cursor: pointer;
		
		
		&:before {
			left: 0;
			top: 50%;
			content: '';
			width: 10px;
			height: 10px;
			margin-top: -5px;
			position: absolute;
			border: 1px solid #cacaca;
		}
		
		&:after {
			top: 50%;
			left: 3px;
			width: 4px;
			height: 4px;
			content: '';
			display: none;
			margin-top: -2px;
			position: absolute;
			background: #9a40a1;
		}
		
		&.checked {
			color: #9a40a1;
			
			&:before {
				display: none;
			}
			
			&:after {
				display: inline-block;
			}
		}
		
		.icr-hidden {
			display: none !important;
		}
		
		@media (min-width: $screen-sm-min) {
			font-size: 16px;
			line-height: 24px;
			padding-left: 40px;
			
			&:before {
				left: 0;
				width: 24px;
				height: 24px;
				margin-top: -12px;
			}
			
			&:after {
				left: 8px;
				width: 12px;
				height: 12px;
				display: none;
				margin-top: -6px;
			}
		}
		
		@media (min-width: $screen-md-min) {
			font-size: 11px;
			line-height: 15px;
			padding-left: 30px;
			
			&:before {
				left: 0;
				width: 10px;
				height: 10px;
				margin-top: -5px;
			}
			
			&:after {
				left: 3px;
				width: 4px;
				height: 4px;
				display: none;
				margin-top: -2px;
			}
		}
	}
}

.sidenav {

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
	
		> li {
			
			> a {
				color: #181818;
				font-size: 11px;
				font-weight: 600;
				line-height: 25px;
				position: relative;
				text-transform: uppercase;
				
				&::before,
				&::after {
					top: 50%;
					width: 0;
					height: 1px;
					content: '';
					position: absolute;
					background: $color-purple;
				}
				
				&::before {
					left: 0;
				}
				
				&::after {
					right: 0;
					transition: width 500ms ease;
				}
				
				&:hover {
					
					&::before {
						width: 100%;
						transition: width 500ms ease;
					}
					
					&::after {
						width: 100%;
						background: transparent;
						transition: 0;
					}
				}
			}
			
			&.active {
				
				a {
					
					&::before {
						width: 100%;
					}
					
					&::after {
						width: 100%;
						background: transparent;
					}
				}
			}
		}
	}
}

