
$body-bg                :   #fff !default;
$text-color             :   #222 !default;
$link-color             :   #0d80e6 !default;
$link-hover-decoration  :   underline;


$font-size-base         :   13px !default;
$line-height-base       :   1.5384615 !default;
$font-base              :   'Open Sans', Arial, sans-serif !default;
$font-head              :   'TT Moons', Arial, sans-serif !default;

$color-purple           :   #9a40a1;


//== Media queries breakpoints

// Extra small screen / phone
$screen-xs-min:              480px !default;

// Small screen / tablet
$screen-sm-min:              768px !default;

// Medium screen / desktop
$screen-md-min:              992px !default;

// Large screen / wide desktop

$screen-lg-min:              1255px !default;


// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;



//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (970px) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1230px) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;