.breadcrumbs {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 25px 0;
	
	> li {
		font-size: 10px;
		font-weight: 600;
		line-height: 15px;
		display: inline-block;
		text-transform: uppercase;
		
		&:after {
			content: '/';
			padding: 0 10px;
		}
		
		&:last-child {
		
			&:after {
				display: none;
			}
		}
		
		a {
			color: #aaa9a9;
			text-decoration: none;
		}
	}
}