.btn {
	margin:0;
	color: #181818;
	outline: none;
	cursor: pointer;
	font-size: 11px;
	font-weight: 600;
	line-height: 20px;
	padding: 15px 45px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: transparent;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 1px solid #181818;
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #181818;
		text-decoration: none;
	}
	
	@media (min-width: $screen-sm-min) {

	}
	
	@media (min-width: $screen-md-min) {
		font-size: 11px;
		line-height: 20px;
		padding: 15px 45px
	}
}

.btn-text {
	margin:0;
	border: none;
	outline: none;
	color: #181818;
	cursor: pointer;
	font-size: 11px;
	font-weight: 600;
	line-height: 20px;
	padding: 10px 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	text-transform: uppercase;
	touch-action: manipulation;
	text-decoration: underline;
	@include transition(.3s);
	@include opacity(0.5);
	
	&:hover {
		color: #181818;
		background: transparent;
		@include opacity(1);
	}
}

.btn-invert {
	color: #fff;
	border-color: #fff;
	
	&:hover {
		color: #181818;
		background: #fff;
	}
}

.btn-black {
	color: #fff;
	background: #181818;
	
	&:hover {
		color: #181818;
		background: #fff;
	}
}

.btn-black-invert {

	
	&:hover {
		color: #fff;
		background: #181818;
	}
}

.btn-sm {
	padding: 10px 45px;
	
	@media (min-width: $screen-md-min) {
		padding: 10px 45px;
	}
}

.btn-md {

	
	@media (min-width: $screen-md-min) {
		padding: 10px 50px
	}
	
	
	@media (min-width: $screen-lg-min) {
	
	}
}


.btn-arrow {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 10px;
	font-weight: 600;
	line-height: 20px;
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 2px 45px 2px 0;
	text-transform: uppercase;
	touch-action: manipulation;
	
	i {
		top: 3px;
		right: 0;
		width: 40px;
		height: 9px;
		display: block;
		position: absolute;
		
		
		svg {
			fill: #fff;
			color: #fff;
		}
	}
	
	&:hover {
		color: $color-purple;
		
		i {
			svg {
				fill: $color-purple;
				color: $color-purple;
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		font-size: 20px;
		
		i {
			top: 0;
		}
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 10px;
		
		i {
			top: 3px;
		}
	}
}


.btn-border {
	margin:0;
	color: #181818;
	outline: none;
	cursor: pointer;
	font-size: 11px;
	font-weight: 600;
	line-height: 18px;
	padding: 10px 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: transparent;
	text-transform: uppercase;
	touch-action: manipulation;
	border: 1px solid #181818;
	
	&:hover {
		color: #fff;
		background: #181818;
	}
	
	@media (min-width: $screen-sm-min) {
		font-size: 12px;
	//	line-height: 28px;
		padding: 15px 50px;
		
		&.btn-sm {
			font-size: 18px;
			line-height: 18px;
			padding: 10px 10px
		}
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 11px;
		line-height: 18px;
		padding: 5px 15px;
	}
}

.btn-form {
	margin:0;
	color: #fff;
	background: #181818;
	width: 100%;
	outline: none;
	cursor: pointer;
	font-size: 11px;
	font-weight: 600;
	line-height: 12px;
	padding: 13px 10px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;

	text-transform: uppercase;
	touch-action: manipulation;
	border: 1px solid #181818;
	
	&:hover {
		color: #181818;
		background: transparent;
	}
	
	@media (min-width: $screen-sm-min) {
		font-size: 22px;
		line-height: 28px;
		padding: 15px 10px;
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 11px;
		line-height: 18px;
		padding: 10px 10px;
	}
}

.btn-group {
	
	.btn {
		width: 100%;
	}
}
