.form-control {
	margin: 0;
	width: 100%;
	color: #222222;
	outline: none;
	font-size: 11px;
	font-weight: 600;
	line-height: 20px;
	padding: 10px 10px;
	display: inline-block;
	background: transparent;
	text-transform: uppercase;
	border: 1px solid #dfdfdf;
	@include placeholder(#dfdfdf);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: #222222;
		@include placeholder(transparent);
	}
}

.form-input {
	margin: 0;
	width: 100%;
	z-index: 10;
	color: #222222;
	outline: none;
	font-size: 11px;
	font-weight: 600;
	line-height: 20px;
	position: relative;
	padding: 16px 10px 4px 10px;
	display: inline-block;
	background: transparent;
	text-transform: uppercase;
	border: 1px solid #dfdfdf;
	@include placeholder(transparent);
	
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
	
	&:focus {
		color: #222222;
		@include placeholder(transparent);
	}
}

.form-wrap {
	position: relative;
	
	.placeholder {
		top: 14px;
		left: 11px;
		z-index: 5;
		color: #dfdfdf;
		font-size: 11px;
		font-weight: 600;
		line-height: 12px;
		position: absolute;
		display: inline-block;
		text-transform: uppercase;
		@include transition(.3s);
	}
	
	&.focus {
	
		.placeholder {
			top: 4px;
			color: #000;
			font-size: 8px;
			line-height: 10px;
			@include transition(.3s);
		}
	}
	
	.select-placeholder {
		top: 4px;
		left: 11px;
		z-index: 5;
		color: #dfdfdf;
		font-size: 11px;
		font-weight: 600;
		line-height: 12px;
		position: absolute;
		display: inline-block;
		text-transform: uppercase;
	}
	
	.selectric-wrapper {
		
		.selectric {
			
			.label {
				padding: 16px 30px 4px 10px;
			}
		}
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}

label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}

.form-label {
	color: #181818;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 10px;
	
	@media (min-width: $screen-md-min) {
		font-weight: 400;
	}
}

.form-divider {
	padding-bottom: 20px;
}

.form-select {
	width: 100%;
	color: #292929;
	outline: none;
	font-size: 11px;
	font-weight: 600;
	line-height: 19px;
	margin-bottom: 10px;
	display: inline-block;
	border: 1px solid #c9c9c9;
	padding: 5px 30px 5px 20px;
}


.selectric-wrapper {
	text-align: left;
	
	&.selectric-hover {
		
		.selectric {
			
			.label {
			
			}
		}
	}
	
	&.selectric-open {
		
		.selectric-items {
			z-index: 100;
		}
	}
	
	.selectric {
		width: 100%;
		display: block;
		text-transform: uppercase;
		border: 1px solid #c9c9c9;
		
		&:after {
			color: #292929;
			top: 50%;
			margin-top: -8px;
			right: 10px;
			font-size: 14px;
			line-height: 14px;
			content: "\f107";
			position: absolute;
			display: inline-block;
			font-family: FontAwesome;
		//	background: url("../svg/angle-down.svg") 0 0 no-repeat;
		//	background-size: cover;
		}
		
		
		b {
			display: none !important;
		}
		
		.label {
			width: 100%;
			font-size: 12px;
			font-weight: 600;
			line-height: 18px;
			color: #292929;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-transform: uppercase;
			text-overflow: ellipsis;
			padding: 10px 30px 10px 20px;
		}
	}
	
	.selectric-items {
		background: #fff;
		margin-top: 10px;
		width: 100% !important;
		border: 1px solid #c9c9c9;
		
		&:before {
			color: #292929;
			top: 10px;
			content: "\f107";
			right: 10px;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
			display: inline-block;
			font-family: FontAwesome;
		//	background: url("../svg/angle-down.svg") 0 0 no-repeat;
		//	background-size: cover;
		}
		
		.selectric-scroll {
			background: transparent;
			position: relative;
			
			
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				
				li {
					cursor: pointer;
					font-size: 12px;
					font-weight: 600;
					line-height: 20px;
					padding: 8px 20px;
					text-transform: uppercase;
					
					&:hover {
						color: $color-purple;
					}
					
					&.selected {
						color: $color-purple;
					}
					
					span {
					
					}
				}
			}
		}
	}
	
	
	@media (min-width: $screen-sm-min) {
		
		.selectric {
			
			.label {
				padding: 15px 30px 15px 15px;
			}
		}
		
		.selectric-items {
			
			&:before {
			}
			
			.selectric-scroll {
				
				ul {
					
					li {
						padding: 10px 15px;
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		
		.selectric {
			
			.label {
				font-size: 11px;
				line-height: 18px;
				padding: 10px 30px 10px 20px;
			}
		}
		
		
		.selectric-items {
			
			.selectric-scroll {
				
				ul {
					
					li {
						font-size: 11px;
						padding: 8px 20px;
					}
				}
			}
		}
	}
}
