.pagination {
	padding-top: 40px;
	text-align: center;
	
	.load-more {
	}
	
	.pagination-nav {
		font-size: 0;
		line-height: 0;
		padding: 0 90px;
		text-align: center;
		position: relative;
		display: none;
		
		.pagination-arrow {
			top: 50%;
			width: 40px;
			height: 9px;
			content: '';
			cursor: pointer;
			margin-top: -5px;
			position: absolute;
			display: inline-block;
			
			svg {
				fill: #000;
				color: #000;
			}
			
			&:hover {
				
				svg {
					fill: $color-purple;
					color: $color-purple;
				}
			}
			
			&.prev {
				left: 0;
			}
			
			&.next {
				right: 0;
			}
		}
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				color: #181818;
				padding: 0 12px;
				font-size: 10px;
				font-weight: 600;
				line-height: 10px;
				display: inline-block;
				
				a {
					width: 20px;
					padding: 0;
					color: #181818;
					position: relative;
					text-decoration: none;
					display: inline-block;
					
					&::before,
					&::after {
						top: 50%;
						width: 0;
						height: 1px;
						content: '';
						position: absolute;
						background: $color-purple;
					}
					
					&::before {
						left: 0;
					}
					
					&::after {
						right: 0;
						transition: width 500ms ease;
					}
					
					&:hover {
						color: $color-purple;
						
						&::before {
							width: 100%;
							transition: width 500ms ease;
						}
						
						&::after {
							width: 100%;
							background: transparent;
							transition: 0;
						}
					}
				}
				
				
				span {
					width: 30px;
					padding: 5px 0;
				}
				
				&.active {
					
					a {
						&::before {
							width: 100%;
						}
						
						&::after {
							width: 100%;
							background: transparent;
							transition: 0;
						}
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-sm-min) {
		padding-top: 80px;
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 20px;
		
		.pagination-nav {
			display: inline-block;
		}
		
		.load-more {
			margin-bottom: 25px;
		}
	}
	

}