.table-responsive {

}

@media (max-width: 600px) {
	
	.table-responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-bottom: 25px;
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		
		.table,
		.table-striped{
			margin-bottom: 0;
		}
	}
}

.table-striped {
	width: 100%;

	tr {
		border-bottom: 10px solid #fff;
	}
	
	th {
		color: #181818;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		padding: 15px 20px 0 20px;
		text-align: left;
		text-transform: uppercase;
	}
	
	td {
		color: #181818;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		padding: 15px 20px;
		background: #f7f7f7;
		text-transform: uppercase;
	}
	
	a {
		color: #181818;
		font-size: 11px;
		font-weight: 600;
		line-height: 20px;
		text-decoration: underline;
		@include opacity(0.5);
		
		&:hover {
			@include opacity(1);
		}
	}
}



